<div class="card-body p-5 mb-5" ngModelGroup="invoice">
    <div clas="col-md-12">
        <div class="text-center my-4 pb-4">
            <h1>Invoice</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="row g-3">
                <div class="col-lg-8 col-sm-12">
                    <div class="d-flex align-items-center justify-content-between">
                        <label for="invoicenoInput">Invoice No</label>
                        <input name="invoiceNo" ngModel type="text" class="form-control bg-light border-0" #invoicenNumberValidation="ngModel"
                            id="invoicenoInput" [(ngModel)]="InvoiceNumber"  placeholder="Invoice No" appInvoiceNumber>

                            <div *ngIf="invoicenNumberValidation.invalid && (invoicenNumberValidation.dirty || invoicenNumberValidation.touched)">
                                <div *ngIf="invoicenNumberValidation.errors?.['required']" class="text-danger">Invoice is required.
                                </div>
                              
                                <div *ngIf="invoicenNumberValidation.errors?.['isExists']" class="text-danger">Invoice already
                                    exists.
                                </div>
                            </div>
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-lg-8 col-sm-12">
                    <div class="d-flex align-items-center justify-content-between">
                        <label for="date-field">Date</label>
                        <input type="date" [(ngModel)]="defaultDate"
                            class="form-control bg-light border-0 flatpickr-input position-relative" id="date-field"
                            data-provider="flatpickr" data-time="true" placeholder="Select Date-time" name="date">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="text-end">
                <img src="assets\images\mcode-m.png" class="img-fluid company-logo" />
            </div>
        </div>
    </div>

</div>