<div class="card-body px-0 mb-5" ngModelGroup="invoice">
    <div clas="col-md-12">
        <div class="text-center my-4 pb-4">
            <h1 *ngIf="this.invoiceCategory !== 'Quotations'">Invoice</h1>
            <h1 *ngIf="this.invoiceCategory === 'Quotations'">Quotation</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="row g-3">
                <div class="col-lg-8 col-sm-12">
                    <div class="d-flex align-items-center justify-content-between">
                        <label for="invoicenoInput" *ngIf="this.invoiceCategory !== 'Quotations'">Invoice No</label>
                        <label for="invoicenoInput" *ngIf="this.invoiceCategory === 'Quotations'">Quotation No</label>
                        <input name="invoiceNumber" ngModel type="text" class="form-control bg-light border-0"
                            #invoicenNumberValidation="ngModel" id="invoicenoInput" [(ngModel)]="invoiceNo"
                            [invoiceId]="invoiceNo" placeholder="Invoice No" appInvoiceNumber>
                    </div>
                    <div
                        *ngIf="invoicenNumberValidation.invalid && (invoicenNumberValidation.dirty || invoicenNumberValidation.touched)">
                        <div *ngIf="invoicenNumberValidation.errors?.['required']" class="text-danger">Invoice is
                            required.
                        </div>

                        <div *ngIf="invoicenNumberValidation.errors?.['isExists']" class="text-danger alreadyExist">
                            Invoice already
                            exists.
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-lg-8 col-sm-12">
                    <div class="d-flex align-items-center justify-content-between">
                        <label for="date-field" *ngIf="this.invoiceCategory !== 'Quotations'">Date</label>
                        <label for="date-field" *ngIf="this.invoiceCategory === 'Quotations'">Quotation Date</label>
                        <input type="date" [(ngModel)]="defaultDate" style="cursor: pointer;"
                            class="form-control bg-light border-0 flatpickr-input position-relative" id="date-field"
                            data-provider="flatpickr" data-time="true" placeholder="Select Date-time" name="date">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="text-end">
                <img [src]="invoiceImage" width="150px" height="150px" class="img-fluid company-logo" />
            </div>
        </div>
    </div>

</div>