<header id="page-topbar">
    <div class="layout-width">
        <div class="navbar-header">
            <div class="d-flex">  
                <button type="button" class="btn btn-sm px-3 fs-16 header-item vertical-menu-btn topnav-hamburger" id="topnav-hamburger-icon" (click)="toggleBodyClass()" >
                    <span class="hamburger-icon">
                        <span></span>
                        <span></span>
                        <span></span>
                    </span>
                </button>
                <!-- <span class="mob-logo">
                    <img src="assets/images/logo-light-1.webp" alt="" height="21">
                </span> -->
            </div>
            <div>
            <div class="d-flex align-items-center">
                <button type="button" class="btn btn-primary" (click)="logout()" >Logout</button>
                <button (click)="triggerButtonClick()" class="btn bar-icon"><i class="fa fa-bars"></i></button>
               
                </div>
            </div>
            </div>
        </div>
        <nav class="navbar mob-menus">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation" #mobileNav>
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="index.html">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/profile">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/invoice">Invoice</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/add-invoice">Add Invoice</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/clients">Users</a>
                    </li>
                </ul>
                
              </div>
            </nav>
    
</header>



