<div class="row">
  <div class="col-md-12">
    <div class="d-flex">

      <!-- tax  -->
      <div class="d-flex align-items-center">
        <label class="mb-0 mr-3">Tax</label>
        <select [(ngModel)]="selectedTaxRate" class="form-control form-control-sm taxes-edit selector-currency"
          name="tax" (change)="onTaxRateChange()">
          <option *ngFor="let tax of taxes" [value]="tax">{{tax}}</option>
        </select>
      </div>
      <!-- tax -->



      <!-- CURRENCY  -->
      <div class="d-flex align-items-center ml-5">
        <label class="mb-0 mr-3">Currency</label>
        <select class="form-control" name="currency" [(ngModel)]="selectedCurrency" (change)="currencyChange($event)">
          <option disabled selected>Select a currency</option>
          <option *ngFor="let currency of currencies" [value]="currency.code">
            {{ currency.name }} ({{ currency.code }}) - {{ currency.symbol }}
          </option>
        </select>
      </div>
      <!-- CURRENCY  -->

      <div class="d-flex align-items-center ml-5">
        <button type="button" class="btn btn-primary" (click)="addFields()">Rename/Add-Fields</button>
      </div>
    </div>
  </div>
  <div class="card-body p-0 mt-3" ngModelGroup="products">
    <div class="table-responsive br-8">
      <table class="invoice-table table table-borderless table-nowrap mb-0">

        <!-- TABLE HEAD STARTS -->
        <thead class="align-middle items-chart productRow">
          <tr class="table-active">
            <ng-container *ngFor="let details of fields">
              <th scope="" class="width-40" *ngIf="!details.hidden">{{details.label}}</th>
            </ng-container>
          </tr>
        </thead>
        <!-- TABLE HEAD ENDS -->

        <tbody id="newlink">
          <tr *ngFor="let row of productRows; let i = index" class="product" [ngModelGroup]="'item' + i.toString()">
            <ng-container *ngFor="let details of fields; let first = first;">

              <td class="text-start" *ngIf="first; else addOtherFields">
                <div class="mb-2">
                  <input type="text" ngModel name="name" [(ngModel)]="row[details.fieldName]"
                    class="form-control bg-light border-0" placeholder="Item Name" required
                    (ngModelChange)="onProductValueChange(i)" />
                </div>
                <!-- Description starts -->
                <button class="btn cstn-description my-2" type="button" (click)="addDescription(i)">
                  <i class="fa-regular fa-square-plus mr-1"></i> Add Description
                </button>
                <div *ngIf="row.showDescriptionBox || row.description" class="descriptionbox">
                  <textarea #description="ngModel" ngModel name="description"
                    class="d-none">{{row.description}}</textarea>
                  <ckeditor [editor]="editor" [(ngModel)]="row.description" [ngModelOptions]="{standalone: true}"
                    (change)="onEditorChange(description, row.description)"
                    (ready)="onEditorChange(description, row.description)"> </ckeditor>
                </div>
                <!-- Description ends -->

              </td>


              <ng-template #addOtherFields>
                <td class="text-end">
                  <div *ngIf="details.type === FieldTypes.TEXT" >
                    <input type="text" [name]="details.fieldName" [(ngModel)]="row[details.fieldName]"
                      [readonly]="details.readonly" *ngIf="!details
                      .hidden" (ngModelChange)="onProductValueChange(i)"
                      class="form-control bg-light border-0 product-line-price" placeholder="0.00" />

                  </div>

                  <div *ngIf="details.type === FieldTypes.NUMBER">
                    <input type="number" [name]="details.fieldName" [(ngModel)]="row[details.fieldName]"
                      [readonly]="details.readonly" (ngModelChange)="onProductValueChange(i)" *ngIf="!details.hidden"
                      class="form-control bg-light border-0 product-line-price" placeholder="0.00" />
                  </div>

                  <div *ngIf="details.type === FieldTypes.CURRENCY">
                    <input type="number" [name]="details.fieldName" [(ngModel)]="row[details.fieldName]"
                      [readonly]="details.readonly" (ngModelChange)="onProductValueChange(i)" *ngIf="!details.hidden"
                      class="form-control bg-light border-0 product-line-price" placeholder="0.00" />
                  </div>

                  <div *ngIf="details.type === FieldTypes.DATE">
                    <input type="date" [name]="details.fieldName" [(ngModel)]="row[details.fieldName]"
                      [readonly]="details.readonly" *ngIf="!details.hidden" (ngModelChange)="onProductValueChange(i)"
                      class="form-control bg-light border-0 product-line-price" placeholder="0.00" />
                  </div>
                </td>
              </ng-template>
            </ng-container>


            <td class="product-removal">
              <a href="javascript:void(0)" class="btn pt-2" (ngModelChange)="onProductValueChange(i)"
                (click)="removeRow(i)"><i class="fa-solid fa-xmark"></i></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="row">
      <div clas="col-md-12">
        <div class="text-center">
          <button class="btn cstn-description add-new-line" type="button" (click)="addNewLine()">
            <i class="fa-regular fa-square-plus mr-1"></i> Add New Line
          </button>
        </div>
      </div>
    </div>
  </div>

  <app-add-fields #addFieldModal [fields]="fields" (onSave)="handleSaveEvent($event)"></app-add-fields>