.dropdown .taxes-edit {
    background-color: #F7FAFE;
    color: #3E444C;
    border-color: #D6DEE9;
    font-size: 18px;
    padding: 8px 10px;
}

.selector-currency {
    height: 45px;
    padding: 10px 100px 10px 10px;
    font-size: 16px;
}

.items-chart {
    background-color: #cc1b20;
}



table thead .table-active {
    --in-table-accent-bg: #e12026 !important;
    background-color: #e12026 !important;
}

.items-chart tr th {
    color: #fff;
    font-size: 16px;
    padding: 10px 20px;
}

.items-chart tr {
    border-radius: 10px 10px 0 0;
}

.width-70 {
    width: 70%;
}

.width-30 {
    width: 30%;
}

.invoice-table tbody {
    background-color: #F7FAFE;
}

.invoice-table tbody tr td input {
    border-bottom: 1px solid #ff00001f !important;
    border-radius: 0;
    padding-left: 0;
}

.invoice-table tbody tr td {
    padding: 10px 20px;
}

.br-8 {
    border-radius: 5px;
}

.cstn-description {
    background-color: transparent;
    border: none;
    padding: 0;
}

.cstn-description i {
    color: #e12026;
}

.product-removal i {
    font-size: 20px;
}

.add-new-line {
    padding: 14px 50px;
    font-size: 18px;
    background-color: #f2f2f2;
    border: 1px dashed #b1afaf !important;
    margin-top: 40px;
}

.width-60 {
    width: 60%;
}

.width-40 {
    width: 40%;
}

.width-10 {
    width: 10%;
}

.list-width {
    width: 100px;
}

th.width-40 {
    background-color: var(--highlight-color) !important;
    border-color: var(--highlight-color) !important;
}

th.width-10 {
    background-color: var(--highlight-color) !important;
    border-color: var(--highlight-color) !important;
}

th {
    background-color: var(--highlight-color) !important;
    border-color: var(--highlight-color) !important;
}

button.btn.btn-primary {
    background-color: white !important;
    color: black;
    font-size: 16px;
    padding: 8px;
    border: var(--bs-border-width) solid var(--bs-border-color);
}

button.btn.btn-primary {
    background-color: white !important;
    color: black;
    font-size: 16px;
    padding: 9px 13px 7px;
    border: var(--bs-border-width) solid var(--bs-border-color) !important;
}

.container {
    display: flex;
    flex-wrap: wrap;
    /* Allows the items to wrap as needed */
}

.item {
    flex: 1 0 auto;
    /* Allows your items to flex */
}

.input-icon-container {
    position: relative;
}

.input-icon {
    position: absolute;
    top: 7px;
    left: -14px;
}

.input-field {
    padding-left: 20px;
}

.descriptionbox {
    width: 203%;
}

.input-percentage {
    position: relative;
}

.percentage {
    position: absolute;
    left: 20px
}

/* NEW-CSS */
.pop-btn button {
    color: #fff;
    background-color: #e31e24 !important;
    padding: 8px 10px;
}
.pop-btn button:focus {
    border-color: #e31e249e !important;
    box-shadow: none !important;
    color: #fff;
}
.selector-currency {
    padding: 10px 10px 10px 10px;
}

@media (min-width:320px) and (max-width:767px) {
    .selector-currency {
        padding: 6px 12px;
        height: unset;
    }
    .pop-btn button {
        font-size: 16px !important;
        margin-top: 5px;
        padding: 6px 12px !important;
    }
    table thead {
        height: 40px !important;
        display: block;
    }
    .items-chart tr th {
        font-size: 14px;
        padding: 10px 15px;
        line-height: 42px !important;
    }
    .invoice-table tbody tr td input {
        padding-left: 6px;
    }
    .input-icon {
        position: absolute;
        top: -11px;
        left: -4px;
    }
    /* .invoice-table tbody tr td.text-start {
        margin-top: 4px;
    } */
    .add-new-line {
        padding: 12px 30px;
        font-size: 16px;
    }
    td.text-start {
        height: 100%;
    }
    .table tbody tr {
        border-width: 0px !important;
        display: flex;
    }
    .table tbody tr {
        display: flex;
        height: 100%;
    }
    .table tbody th, .table tbody td {
        width: 190px !important;
    }
    .table tbody button.btn.cstn-description:focus {
        box-shadow: none !important;
    }
}
@media (min-width:768px) and (max-width:991px) {
    .currency-option select {
        width: 220px !important;
    }
}