<button type="button" #openModalButton class="btn btn-primary d-none" data-bs-toggle="modal"
    data-bs-target="#addUpdate">Add</button>
<div class="modal" id="addUpdate" aria-labelledby="addUpdateLabel">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header modal-head pb-3">
                <h1 class="modal-title fs-5" id="addUpdateLabel">Send Email</h1>
                <button type="button" class="close" (click)="closeModal()">
                    <i class="fa-sharp fa-regular fa-circle-xmark"></i>

                </button>
                <button type="button" #closeModalButton class="d-none btn-close" data-bs-dismiss="modal"
                    aria-label="Close">
                    <i class="fa-sharp fa-regular fa-circle-xmark"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="mb-3 d-flex">
                            <label for="from" class="form-label mr-3 flex-shrink-0">From</label>
                            <input type="text" id="from" class="form-control flex-grow-1" name="from" [(ngModel)]="from"
                                ngModel>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-12">
                        <div class="mb-3 d-flex">
                            <label for="client-name" class="form-label mr-3 flex-shrink-0">Client's name</label>
                            <input type="text" id="client-name" class="form-control flex-grow-1"
                                [(ngModel)]="clientName" name="clientName" ngModel>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="mb-3 d-flex">
                            <label for="client-email" class="form-label mr-3 flex-shrink-0">Client's Email</label>
                            <input type="email" id="client-email" class="form-control flex-grow-1"
                                [(ngModel)]="clientEmail" name="clientEmail" ngModel>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="mb-3 d-flex">
                            <label for="cc" class="form-label mr-3 flex-shrink-0">CC</label>
                            <input type="email" id="cc" class="form-control flex-grow-1" [(ngModel)]="cc" name="cc"
                                ngModel>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-12">

                        <div class="mb-3">
                            <label for="email-subject" class="form-label">Email Subject</label>
                            <input type="text" id="email-subject" class="form-control" name="email-subject"
                                [(ngModel)]="emailSubject" name="emailSubject" ngModel>
                        </div>

                        <div class="mb-3">
                            <label for="message" class="form-label">Message</label>
                            <span class="message-preview" (click)="openMessagePreview()" style="cursor: pointer;">see
                                message preview</span>
                            <textarea id="message" class="form-control" name="message" rows="10"
                                placeholder="Additional message" [(ngModel)]="message" name="message"
                                ngModel></textarea>
                        </div>
                    </div>
                    <div class="modal-footer pt-2 pb-0">
                        <button type="button" class="btn btn-secondary" (click)="closeModal()">Cancel</button>
                        <button type="button" class="btn btn-primary add-client" (click)="saveChanges()">Send
                            email</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<router-outlet></router-outlet>
<app-message-preview #modalPreview></app-message-preview>