span.message-preview {
    color: #e31e24;
    font-weight: 500;
    margin-left: 230px;
}

/* NEW-CSS */
.label-title {
    width: 120px;
}
@media (max-width:767px) {
    span.message-preview {
        margin-left: 40px;
    }
}