<button type="button" #openRecordModal class="btn btn-primary d-none" data-bs-toggle="modal"
    data-bs-target="#addUpdate">Add</button>
<div class="modal" id="addUpdate" aria-labelledby="addUpdateLabel">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header modal-head pb-3">
                <h1 class="modal-title fs-5" id="addUpdateLabel">Record Payment</h1>
                <button type="button" class="close" (click)="closeModal()">
                    <i class="fa-sharp fa-regular fa-circle-xmark"></i>

                </button>
                <button type="button" #closeRecordModal class="d-none btn-close" data-bs-dismiss="modal"
                    aria-label="Close">
                    <i class="fa-sharp fa-regular fa-circle-xmark"></i>
                </button>
            </div>
            <div class="container">
                <div class="container invoices-det" *ngIf="selectedInvoice">
                    <div class="invoice-detail">
                        <span>Invoice No</span>
                        <span>{{selectedInvoice.invoiceNo}}</span>
                    </div>

                    <div class="invoice-detail">
                        <span>Billed To</span>
                        <span>{{selectedInvoice.client.name}}</span>
                    </div>

                    <div class="invoice-detail">
                        <span>Taxable Amount</span>
                        <span>{{this.currencyData}}{{selectedInvoice.totalamountoftax}}</span>
                    </div>

                    <div class="invoice-detail">
                        <span>Invoice Total</span>
                        <span>{{this.currencyData}}{{
                            selectedInvoice.totalamount !== 0 ? selectedInvoice.totalamount :
                            selectedInvoice.subtotalofamount
                            }}</span>
                    </div>
                </div>

                <div class="container">

                    <div class="payment-detail">
                        <label for="amountReceived">Amount Received (A)</label>
                        <div class="input-group amount-inputs mb-3">
                            <span class="input-group-text amount-rec" id="basic-addon1"
                                *ngIf="selectedInvoice">{{this.currencyData}}</span>
                            <input type="number" class="form-control" aria-label="Username"
                                aria-describedby="basic-addon1" name="amountReceived" [(ngModel)]="amountReceived"
                                (ngModelChange)="onAmountRecievedChange()">
                        </div>
                    </div>


                    <div class="payment-detail">
                        <label for="tdsWithheld">TDS %</label>
                        <div class="input-group amount-inputs mb-3">
                            <input type="number" class="form-control" aria-label="Username"
                                title="Tax deducted at source by the Client (% of total invoice value)"
                                aria-describedby="basic-addon1" name="TDS" [(ngModel)]="TDS"
                                (ngModelChange)="computeTDSAmount()">
                        </div>
                    </div>

                    <div class="payment-detail">
                        <label for="tdsWithheld">TDS withheld (B)</label>
                        <div class="input-group amount-inputs mb-3">
                            <span class="input-group-text" id="basic-addon1" *ngIf="selectedInvoice">₹</span>
                            <input type="number" class="form-control" aria-label="Username"
                                aria-describedby="basic-addon1" name="TDSWithHeld" value="" [(ngModel)]="TDSWithHeld"
                                ngModel readonly>
                        </div>
                    </div>

                    <div class="payment-detail" *ngIf="this.currencyData !== '₹' ">
                        <label for="amountReceivedUsd">Amount Received in INR</label>
                        <div class="input-group amount-inputs mb-3">
                            <span class="input-group-text" id="basic-addon1">₹</span>
                            <input type="number" class="form-control" aria-label="Username"
                                aria-describedby="basic-addon1" name="amountReceived" [(ngModel)]="amountReceivedInINR">
                        </div>
                    </div>

                    <div class="payment-detail" *ngIf="this.currencyData !== '₹'" #paymentDetailDiv>
                        <label>Exchange Rate</label>
                        <span *ngIf="!isEditing">1 INR = {{ exchangeRate }} {{this.currencyData}}</span>
                        <input *ngIf="isEditing" [(ngModel)]="exchangeRate" type="number"
                            (ngModelChange)="computeAmountInINR()">
                        <div (click)="toggleEdit()">
                            <i class="fa-solid fa-pen-to-square" style="cursor: pointer;"></i>
                            <span style="cursor: pointer;">edit</span>
                        </div>
                    </div>
                    
                    <div class="payment-detail">
                        <label for="amountToSettle">Amount to Settle (A+B)</label>
                        <div class="input-group amount-inputs mb-3">
                            <span class="input-group-text" id="basic-addon1"
                                *ngIf="selectedInvoice">{{this.currencyData}}</span>
                            <input type="number" class="form-control" aria-label="Username"
                                aria-describedby="basic-addon1" name="amountToSettle" [(ngModel)]="amountReceivedForSettle"
                                ngModel readonly>
                        </div>
                    </div>


                    <div class="payment-detail mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Payment Date</label>
                        <input type="date" class="form-control" id="exampleFormControlInput1" placeholder=""
                            name="paymentDate" [(ngModel)]="paymentDate" ngModel>
                    </div>


                    <div class="payment-detail mb-3">
                        <div class="input-group amount-inputs">
                            <label for="exampleFormControlInput1" class="form-label">Additional notes</label>
                            <textarea class="form-control" aria-label="With textarea"
                                placeholder="Add any additional notes such as payment" name="additionalNotes"
                                [(ngModel)]="additionalNotes" ngModel></textarea>
                        </div>
                    </div>
                </div>
            </div>




            <div class="modal-footer pt-2 pb-0">
                <button type="button" class="btn btn-secondary" (click)="closeModal()">Cancel</button>
                <button type="button" class="btn btn-primary add-client" (click)="saveChanges()">Save
                    changes</button>
            </div>
        </div>