<button type="button" #openRecordModal class="btn btn-primary d-none" data-bs-toggle="modal"
    data-bs-target="#addUpdate">Add</button>
<div class="modal" id="addUpdate" aria-labelledby="addUpdateLabel">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header modal-head pb-3">
                <h1 class="modal-title fs-5" id="addUpdateLabel">Record Payment</h1>
                <button type="button" class="close" (click)="closeModal()">
                    <i class="fa-sharp fa-regular fa-circle-xmark"></i>

                </button>
                <button type="button" #closeRecordModal class="d-none btn-close" data-bs-dismiss="modal"
                    aria-label="Close">
                    <i class="fa-sharp fa-regular fa-circle-xmark"></i>
                </button>
            </div>

            <div class="container">
                <div class="invoice-detail">
                    <span>Invoice No</span>
                    <span>A00016</span>
                </div>

                <div class="invoice-detail">
                    <span>Billed To</span>
                    <span>Namit Arora</span>
                </div>

                <div class="invoice-detail">
                    <span>Taxable Amount</span>
                    <span>₹1</span>
                </div>

                <div class="invoice-detail">
                    <span>Invoice Total</span>
                    <span>₹1.10</span>
                </div>
            </div>

            <div class="container">
                <div class="payment-detail">
                    <label for="amountReceived">Amount Received (A)</label>
                    <span>₹</span>
                    <input type="text" id="amountReceived" value="1.1">
                </div>

                <div class="payment-detail">
                    <label for="amountReceivedUsd">Amount Received in USD</label>
                    <span>$</span>
                    <input type="text" id="amountReceivedUsd" value="0.013">
                </div>

                <div class="payment-detail">
                    <label>Exchange Rate</label>
                    <span>1 USD = 82.644628 INR</span>
                    <button>Edit</button>
                </div>

                <div class="payment-detail">
                    <label for="transactionCharge">Transaction Charge (B)</label>
                    <span>₹</span>
                    <input type="text" id="transactionCharge" value="0">
                </div>

                <div class="payment-detail">
                    <label for="tds">TDS (%)</label>
                    <input type="text" id="tds" value="0">
                </div>

                <div class="payment-detail">
                    <label for="tdsWithheld">TDS withheld (C)</label>
                    <span>₹</span>
                    <input type="text" id="tdsWithheld" value="0">
                </div>

                <div class="payment-detail">
                    <label for="amountToSettle">Amount to Settle (A+B+C)</label>
                    <span>₹</span>
                    <input type="text" id="amountToSettle" value="1.1">
                </div>

                <div class="payment-detail">
                    <label for="paymentDate">Payment Date</label>
                    <input type="text" id="paymentDate" value="Aug 11, 2023">
                </div>

                <div class="payment-detail">
                    <label for="paymentMethod">Payment Method</label>
                    <input type="text" id="paymentMethod" value="Account Transfer">
                </div>

                <div class="payment-detail">
                    <label for="additionalNotes">Additional Notes</label>
                    <input type="text" id="additionalNotes">
                </div>
            </div>
            <div class="modal-footer pt-2 pb-0">
                <button type="button" class="btn btn-secondary" (click)="closeModal()">Cancel</button>
                <button type="button" class="btn btn-primary add-client" (click)="saveChanges()">Save
                    changes</button>
            </div>
        </div>