<button type="button" #openModalButtonPreview class="btn btn-primary d-none" data-bs-toggle="modal"
    data-bs-target="#messagePreviewModal">Add</button>

<div class="modal" id="messagePreviewModal" aria-labelledby="messagePreviewModalLabel">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header modal-head pb-3">
                <h1 class="modal-title fs-5" id="messagePreviewModalLabel">Email Preview</h1>
                <button type="button" class="close" (click)="closeModal()">
                    <i class="fa-sharp fa-regular fa-circle-xmark"></i>

                </button>
                <button type="button" #closeModalButtonPreview class="d-none btn-close" data-bs-dismiss="modal"
                    aria-label="Close">
                    <i class="fa-sharp fa-regular fa-circle-xmark"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="card">
                    <img class="card-img-top" src="\assets\business.png" alt="Card image cap">
                    <div class="card-body">

                        <div class="card-font"     [innerText]="selectedInvoice?.body">
                        </div>
                        <a href="javascript:void(0)" class="btn btn-primary view-invoice">view-invoice</a>
                        <footer class="message-footer">
                            <div class="regards">
                                <h6 class="card-font m-0">Regards,</h6>
                                <p class="card-font m-0">{{selectedInvoice?.company.Businessname}}</p>
                                <p class="m-0">M CODE INFOSOFT Pvt. Ltd.,</p>
                                <p class="m-0">#60, 1st Floor, Zirakpur, Punjab, India - 140603</p>
                                <p>www.mcodeinfosoft.com</p>
                            </div>
                        </footer>
                    </div>
                </div>
            </div>
        </div>