<div class="p-3">
    <div class="mb-3">
        <span class="main-head">Billed To </span><span>(client Details)</span>
    </div>
    <div class="form-group">
        <select name="client_id" [(ngModel)]="clientId" (ngModelChange)="onClientChange()"
            class="form-control company-name-bill selector-height-35" id="exampleFormControlSelect1">
            <option disabled [ngValue]="null">Select a client</option>
            <option *ngFor="let details of clients" [ngValue]="details._id">{{ details.name }}</option>
        </select>
    </div>

    <div class="card mb-2" *ngIf="selectedClient">
        <div class="card-body company-details">
            <div class="d-flex align-items-center">
                <span>Name</span><span>{{selectedClient.name}}</span>
            </div>
            <div class="d-flex align-items-center">
                <span>Email</span><span>{{selectedClient.email}}</span>
            </div>
            <div class="d-flex align-items-center">
                <span>Phone No. </span><span>{{selectedClient.phoneNumber}}</span>
            </div>
            <div class="d-flex align-items-center">
                <span>Address</span><span>{{selectedClient.address}}</span>
            </div>
            <div class="d-flex align-items-center">
                <span>GSTIN</span><span>{{selectedClient.gstin}}</span>
            </div>
            <div class="d-flex align-items-center">
                <span>PAN</span><span>{{selectedClient.pan}}</span>
            </div>
        </div>
    </div>
    <div [class.d-none]="!clientId" (click)="updateClient(clientId)" class="client-edit">
        <i class="fa-solid fa-pen-to-square" style="cursor: pointer;"></i>
        <span></span>
    </div>

    <div class="card-body company-details text-center" *ngIf="!clientId">
        <div class="clients-details">
            <p>select a Client</p>
            <p>or</p>
            <button type="button" class="btn btn-primary  newclients" (click)="addClients()"><i
                    class="fa-solid fa-circle-plus"></i>
                Add New clients</button>
        </div>
    </div>
</div>
<router-outlet></router-outlet>