<div class="row">
  <div class="col-md-12">

    <div class="d-flex">
      <div class="d-flex align-items-center ml-5">
        <label class="mb-0 mr-3">Tax</label>
        <select [(ngModel)]="selectedTaxRate" class="form-control form-control-sm taxes-edit selector-currency"
          name="tax" (change)="onTaxRateChange()">
          <option *ngFor="let tax of taxes" [value]="tax">{{tax}}</option>
        </select>
      </div>

      <div class="d-flex align-items-center ml-5">
        <label class="mb-0 mr-3">Currency</label>
        <select class="form-control" name="currency" >
          <option disabled selected name="currency">Select a currency</option>
          <option *ngFor="let currency of currencies" name="currency" [value]="currency.symbol"> {{currency.symbol}}
            <span> {{ currency.code }}</span>
          </option>
        </select>
      </div>
    </div>

  </div>
</div>
<div class="card-body p-0 mt-3" ngModelGroup="productDetails">
  <div class="table-responsive br-8">
    <table class="invoice-table table table-borderless table-nowrap mb-0">
      <thead class="align-middle items-chart">
        <tr class="table-active">
          <th scope="" class="width-60">Item</th>
          <th scope="" class="width-10">Amount</th>
          <ng-container *ngIf="selectedTaxRate !== 'None'">
            <th scope="col">Rate</th>
            <th scope="col">{{ selectedTaxRate }}</th>
            <th scope="col">Total</th>
          </ng-container>
          <th></th>
        </tr>
      </thead>
      <tbody id="newlink">
        <tr *ngFor="let row of productRows; let i = index" class="product" [ngModelGroup]="'item' + i.toString()">
          <td class="text-start">
            <div class="mb-2">
              <input type="text" ngModel name="name" class="form-control bg-light border-0" placeholder="Item Name"
                required />
              <div class="invalid-feedback">
                Please enter a product name
              </div>
            </div>
            <button class="btn cstn-description" (click)="addDescription(i)">
              <i class="fa-regular fa-square-plus mr-1"></i> Add Description
            </button>
            <div *ngIf="row.showDescriptionBox">
              <ckeditor [editor]="editor" [data]="data"></ckeditor>
            </div>
          </td>
          <td class="text-end">
            <div>
              <input type="number" [(ngModel)]="row.amount" (ngModelChange)="onProductValueChange(i)" name="amount"
                class="form-control bg-light border-0 product-line-price" placeholder="{{currencyData}}0.00" />
            </div>
          </td>
          <ng-container *ngIf="selectedTaxRate !== 'None'">
            <td class="text-end">
              <div>
                <input type="text" ngModel [(ngModel)]="row.rate" (ngModelChange)="onProductValueChange(i)" name="rate"
                  class="form-control bg-light border-0 product-line-price" value="{{ this.taxRate }}"
                  placeholder="{{ currencyData }}0.00" readonly />
              </div>
            </td>
            <td class="text-end">
              <div>
                <input type="text" ngModel name="taxtype" [(ngModel)]="selectedTaxRateValue"
                  class="form-control bg-light border-0 product-line-price" placeholder="{{ currencyData }}%00.00"
                  readonly />
              </div>
            </td>
            <td class="text-end">
              <div>
                <input type="text" ngModel name="total" [(ngModel)]="row.total"
                  (ngModelChange)="onProductValueChange(i)" class="form-control bg-light border-0 product-line-price"
                  placeholder="{{ currencyData }}0.00" readonly />
              </div>
            </td>
          </ng-container>
          <td class="product-removal">
            <a href="javascript:void(0)" class="btn p-0" (click)="removeRow(i)"><i class="fa-solid fa-xmark"></i></a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="row">
    <div clas="col-md-12">
      <div class="text-center">
        <button class="btn cstn-description add-new-line" (click)="addNewLine()">
          <i class="fa-regular fa-square-plus mr-1"></i> Add New Line
        </button>
      </div>
    </div>
  </div>
</div>