<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">

                    <div class="card-body">
                        <div class="row mb-4">
                            <div class="row">
                                <!-- Left Side: Search, Date Range, and Status (Larger column) -->
                                <div class="col-md-8">
                                    <div class="input-group d-flex justify-content-start">

                                        <!-- Search Control -->
                                        <div class="d-flex align-items-center mr-2">
                                            <div class="form-outline">
                                                <input type="search" id="form1" class="form-control invoice-search"
                                                    [(ngModel)]="searchQuery" (ngModelChange)="handleSearch()"
                                                    (focus)="isSearchFocused = true" (blur)="isSearchFocused = false"
                                                    placeholder="Search for Result" (keyup)="handleSearch()" />
                                            </div>
                                        </div>

                                        <!-- Date Range Control -->
                                        <div class="d-flex align-items-center mr-2">
                                            <label class="date-range mr-1">Select Date Range</label>
                                            <input type="text" name="daterange" style="cursor: pointer;"
                                                (change)="dateRangePicker(startDate , endDate)" class="datepicker"
                                                [value]="defaultDateRange" />
                                        </div>

                                        <!-- Status Control -->
                                        <div class="d-flex align-items-center">
                                            <label class="mb-0 mr-1">Status</label>
                                            <div class="custom-dropdown" (click)="toggleDropdowns()">
                                                {{getSelectedItemsText()}}
                                                <div *ngIf="isDropdownOpen" class="dropdown-items">
                                                    <div *ngFor="let status of statuses"
                                                        (click)="toggleStatusSelection(status)">
                                                        <input type="checkbox" [checked]="isSelected(status)" />
                                                        {{status}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <!-- Right Side: Buttons (Smaller column) -->
                                <div class="col-md-4 text-right">
                                    <ng-container *ngIf="this.checkedCount !== 1 ">
                                        <button type="button" class="btn btn-info save-cstn-btn bulk-invoice mr-2"
                                            *ngIf="isButtonEnabled" (click)="bulkdelete()">
                                            Bulk Delete
                                        </button>

                                        <button type="button"
                                            class="btn btn-info save-cstn-btn bulk-invoice mr-2 mat-raised-button"
                                            color="primary" [class.spinner]="loading" [disabled]="loading"
                                            *ngIf="isButtonEnabled" (click)="bulkPDFDownload()">
                                            Bulk PDF
                                        </button>
                                    </ng-container>

                                    <a (click)="quotations()" class="btn btn-primary-outline ">
                                        <i class="las la-plus me-1"></i>
                                        Add Quotations
                                    </a>
                                </div>
                            </div>


                            <div class="container">
                                <div class="row">
                                    <cdk-accordion class="example-accordion">
                                        <cdk-accordion-item #accordionItem="cdkAccordionItem"
                                            class="example-accordion-item" role="button" tabindex="0"
                                            [attr.id]="'accordion-header-' "
                                            [attr.aria-expanded]="accordionItem.expanded"
                                            [attr.aria-controls]="'accordion-body-' ">
                                            <div class="example-accordion-item-header" (click)="accordionItem.toggle()">
                                                Quotations Summary
                                                <span class="example-accordion-item-description">
                                                    <i
                                                        [ngClass]="accordionItem.expanded ? 'fa fa-angle-up' : 'fa fa-angle-down'"></i>
                                                </span>
                                            </div>
                                            <div class="example-accordion-item-body" role="region"
                                                [style.display]="accordionItem.expanded ? '' : 'none'"
                                                [attr.id]="'accordion-body-' "
                                                [attr.aria-labelledby]="'accordion-header-'">
                                                <div class="invoice_summ">
                                                    <div class="inc-icon">
                                                        <div class="inc-icon-img"><svg
                                                                xmlns="http://www.w3.org/2000/svg"
                                                                viewBox="0 0 18 19.857">
                                                                <path id="invoices" fill="#2e9eff"
                                                                    d="M399 381h-14a2.018 2.018 0 0 0-2 2.036V400l1.311.729a1 1 0 0 0 .973 0l.821-.458a1 1 0 0 1 .973 0l.827.46a1 1 0 0 0 .972 0l.825-.459a1 1 0 0 1 .972 0l.827.46a1 1 0 0 0 .971 0l.83-.46a1 1 0 0 1 .971 0l.828.46a1 1 0 0 0 .971 0l.832-.462a1 1 0 0 1 .97 0l.836.463a1 1 0 0 0 .969 0L401 400v-16.964a2.018 2.018 0 0 0-2-2.036zm-6.189 15.989v1.262h-1.332v-1.239a2.775 2.775 0 0 1-2.456-2.421l1.6-.359a1.37 1.37 0 0 0 1.517 1.274c.579 0 1-.277 1-.73 0-.335-.255-.555-.718-.66l-1.031-.243c-1.3-.312-2.1-1.1-2.1-2.2a2.459 2.459 0 0 1 2.189-2.4v-1.251h1.332v1.286a2.517 2.517 0 0 1 2.015 1.981l-1.61.428a1.074 1.074 0 0 0-1.181-.961c-.649 0-.973.382-.973.753 0 .312.231.555.683.66l1.008.22c1.552.347 2.165 1.251 2.165 2.293a2.384 2.384 0 0 1-2.108 2.307zM397 386h-10a1 1 0 0 1 0-2h10a1 1 0 0 1 0 2z"
                                                                    transform="translate(-383 -381)"></path>
                                                            </svg>
                                                        </div>
                                                    </div>
                                                    <div class="invc_detail pt-1">
                                                        <div class="d-flex">
                                                            <h5 class="pr-1">Total Quotations</h5>
                                                        </div>
                                                        <p>{{quotationSummary.quotationCount}}</p>
                                                    </div>
                                                    <div class="inc-icon">
                                                        <div class="inc-icon-img"><svg
                                                                xmlns="http://www.w3.org/2000/svg"
                                                                viewBox="0 0 18 19.857">
                                                                <path id="invoices" fill="#2e9eff"
                                                                    d="M399 381h-14a2.018 2.018 0 0 0-2 2.036V400l1.311.729a1 1 0 0 0 .973 0l.821-.458a1 1 0 0 1 .973 0l.827.46a1 1 0 0 0 .972 0l.825-.459a1 1 0 0 1 .972 0l.827.46a1 1 0 0 0 .971 0l.83-.46a1 1 0 0 1 .971 0l.828.46a1 1 0 0 0 .971 0l.832-.462a1 1 0 0 1 .97 0l.836.463a1 1 0 0 0 .969 0L401 400v-16.964a2.018 2.018 0 0 0-2-2.036zm-6.189 15.989v1.262h-1.332v-1.239a2.775 2.775 0 0 1-2.456-2.421l1.6-.359a1.37 1.37 0 0 0 1.517 1.274c.579 0 1-.277 1-.73 0-.335-.255-.555-.718-.66l-1.031-.243c-1.3-.312-2.1-1.1-2.1-2.2a2.459 2.459 0 0 1 2.189-2.4v-1.251h1.332v1.286a2.517 2.517 0 0 1 2.015 1.981l-1.61.428a1.074 1.074 0 0 0-1.181-.961c-.649 0-.973.382-.973.753 0 .312.231.555.683.66l1.008.22c1.552.347 2.165 1.251 2.165 2.293a2.384 2.384 0 0 1-2.108 2.307zM397 386h-10a1 1 0 0 1 0-2h10a1 1 0 0 1 0 2z"
                                                                    transform="translate(-383 -381)"></path>
                                                            </svg>
                                                        </div>
                                                    </div>
                                                    <div class="invc_detail pt-1">
                                                        <div class="d-flex">
                                                            <h5 class="pr-1">Total Drafts
                                                            </h5>
                                                        </div>
                                                        <p>{{quotationSummary.draftquotationCount}}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </cdk-accordion-item>
                                    </cdk-accordion>

                                </div>

                            </div>
                            <div class="table-responsive table-card">
                                <table class="table table-hover table-nowrap invoice-table align-middle mb-0">
                                    <thead>
                                        <tr class="text-muted text-uppercase">
                                            <th>
                                                <!-- Select-unselect-all-items -->
                                                <input type="checkbox" #selectUnselectSingle
                                                    (change)="selectUnselectAllItems($event)" style="cursor: pointer;">
                                            </th>
                                            <th scope="col">Date
                                                <span class="sort-icon">
                                                    <i class="fa-sharp fa-solid fa-arrow-up" style="cursor: pointer;"
                                                        (click)="sortingOrder('date', ORDER.DESC)"></i>
                                                    <i class="fa-solid fa-arrow-down" style="cursor: pointer;"
                                                        (click)="sortingOrder('date', ORDER.ASC)"></i>
                                                </span>


                                            </th>
                                            <th scope="col">Quotation
                                                <span class="sort-icon"><i class="fa-sharp fa-solid fa-arrow-up"
                                                        style="cursor: pointer;"
                                                        (click)="sortingOrder('invoice' , ORDER.DESC)"></i>
                                                    <i class="fa-solid fa-arrow-down" style="cursor: pointer;"
                                                        (click)="sortingOrder('invoice' , ORDER.ASC)"></i></span>
                                            </th>
                                            <th scope="col">CLIENTS
                                                <span class="sort-icon">
                                                </span>
                                            </th>
                                            <th scope="col" style="width: 20%;">Email
                                                <span class="sort-icon"></span>
                                            </th>
                                            <th scope="col">Amount
                                                <span class="sort-icon"></span>
                                            </th>
                                            <th scope="col" style="width: 16%;">Status
                                                <span class="sort-icon">

                                                </span>
                                            </th>
                                            <th scope="col" style="width: 12%;">Actions
                                            </th>
                                        </tr>
                                    </thead>

                                    <tbody>

                                        <ng-container *ngIf="quotation.length > 0; else NoResultFound">
                                            <tr
                                                *ngFor="let details of quotation | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage, id: 'invoice', totalItems: totalItems  } let i = index">
                                                <td>
                                                    <input type="checkbox" #selectUnselectItems
                                                        (change)="checkItem($event, details._id)"
                                                        [checked]="checkedItems[details._id]" [value]="details._id"
                                                        style="cursor: pointer;">
                                                </td>
                                                <td data-label="Date"> {{details?.date| date: 'dd-MM-yyyy'}}</td>
                                                <td data-label="Invoice ID">
                                                    <p class="fw-medium mb-0">{{details.quotationNo}}</p>
                                                </td>
                                                <td data-label="Client">
                                                    <a
                                                        class="text-body align-middle fw-medium">{{details?.client?.name}}</a>
                                                </td>
                                                <td data-label="Email">
                                                    {{details?.client?.email}}
                                                </td>
                                                <td data-label="Billed">
                                                    {{ details?.totalamount !== 0 ? details?.totalamount :
                                                    details?.subtotalofamount }}
                                                </td>
                                                <td>
                                                    <span class="badge badge-pill badge-warning status">
                                                        {{details?.status}}
                                                    </span>
                                                </td>

                                                <td data-label="Action" class="action-items">
                                                    <ul class="list-inline hstack  mb-0">
                                                        <li>


                                                        <li class="list-inline-item edit" data-bs-toggle="tooltip"
                                                            data-bs-trigger="hover" data-bs-placement="top"
                                                            title="Duplicate" (click)="duplicateQuotation(details)">
                                                            <a class="btn btn-soft-info btn-sm d-inline-block">
                                                                <i class="fa-solid fa-copy"></i>
                                                            </a>
                                                        </li>
                                                        <li class="list-inline-item edit pl-2" data-bs-toggle="tooltip"
                                                            data-bs-trigger="hover" data-bs-placement="top" title="Edit"
                                                            [ngClass]="{ 'disabled': details.status === 'CANCELLED'  }"
                                                            (click)="updateQuotation(details)">
                                                            <a class="btn btn-soft-info btn-sm d-inline-block"
                                                                [style.pointer-events]="details.status === 'CANCELLED' ? 'none' : 'auto'">
                                                                <i class="fa-solid fa-pen-to-square"></i>
                                                            </a>
                                                        </li>
                                                        <li class="list-inline-item mr-0" data-bs-toggle="tooltip"
                                                            data-bs-trigger="hover" data-bs-placement="top"
                                                            title="View">
                                                            <a class="btn btn-soft-info btn-sm d-inline-block"
                                                                [routerLink]="['/view-quotations-list', details._id]">
                                                                <i class="fa-solid fa-eye"></i>
                                                            </a>
                                                        </li>

                                                        <li>
                                                            <div class="list-menu">
                                                                <button type="button" id="dropdownMenuLink1"
                                                                    data-bs-toggle="dropdown" aria-expanded="false"
                                                                    class="btn btn-soft-info btn-icon fs-14"><i
                                                                        class="fa-solid fa-ellipsis-vertical"></i></button>
                                                                <ul class="dropdown-menu"
                                                                    aria-labelledby="dropdownMenuLink1">
                                                                    <!-- <li class="list-inline-item "
                                                                        data-bs-toggle="tooltip" data-bs-trigger="hover"
                                                                        data-bs-placement="top" title="Cancel"
                                                                        style="cursor: pointer;"
                                                                        (click)="updateStatus(details, status.CANCELLED)">
                                                                        <a href="javascript:void(0)"
                                                                            class="btn btn-soft-danger btn-sm d-inline-block"
                                                                            [ngClass]="{ 'disabled': details.status === 'CANCELLED'  }">
                                                                            <span>Cancel</span>
                                                                        </a>
                                                                    </li> -->
                                                                    <li class="list-inline-item"
                                                                        data-bs-toggle="tooltip" data-bs-trigger="hover"
                                                                        data-bs-placement="top" style="cursor: pointer;"
                                                                        title="Remove"
                                                                        (click)="deleteQuotations(details)">
                                                                        <a href="javascript:void(0)"
                                                                            class="btn btn-soft-danger btn-sm d-inline-block">
                                                                            <span>Delete</span>
                                                                        </a>
                                                                    </li>

                                                                    <li class="list-inline-item"
                                                                        data-bs-toggle="tooltip" data-bs-trigger="hover"
                                                                        data-bs-placement="top" style="cursor: pointer;"
                                                                        title="Sent Email" (click)="sentEmail(details)">
                                                                        <a href="javascript:void(0)"
                                                                            class="btn btn-soft-danger btn-sm d-inline-block">
                                                                            <span>email invoice</span>
                                                                        </a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </li>


                                                    </ul>
                                                </td>
                                            </tr>
                                        </ng-container>
                                        <ng-template #NoResultFound>
                                            <tr>
                                                <td colspan="7"
                                                    style="text-align: center; font-weight: 500; font-size: 20px;">No
                                                    Result
                                                    Found</td>
                                            </tr>
                                        </ng-template>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <router-outlet></router-outlet>
        <pagination-controls (pageChange)="onPageChange($event)" id="invoice"> </pagination-controls>