<div class="p-4">
    <div class="mb-3">
        <span class="main-head">Billed To </span><span>(client Details)</span>
    </div>
    <!-- <div class="company-name-bill">
        <img src="assets\images\mcode-m.png" class="img-fluid" /><span>mcode infosoft</span>
    </div> -->
    <div class="form-group">
        <select class="form-control company-name-bill selector-height-35" id="exampleFormControlSelect1"
            (change)="selectClient($event)">
            <option disabled selected>Select a client</option>
            <option>None</option>
            <option *ngFor="let details of clients_details">{{ details.name }}</option>
        </select>
    </div>

    <div class="card" *ngIf="selectedClient">
        <div class="card-body company-details">
            <div class="d-flex align-items-center">
                <span>Name</span><span>{{selectedClient.name}}</span>
            </div>
            <div class="d-flex align-items-center">
                <span>Email</span><span>{{selectedClient.email}}</span>
            </div>
            <div class="d-flex align-items-center">
                <span>Phone Number </span><span>{{selectedClient.phoneNumber}}</span>
            </div>
            <div class="d-flex align-items-center">
                <span>Registered On</span><span>{{selectedClient.registeredNo}}</span>
            </div>
            <div class="d-flex align-items-center">
                <span>Status</span><span>{{selectedClient.status}}</span>
            </div>
        </div>
    </div>
    <div *ngIf="selectedClient" (click)="updateClient(selectedClient)">
        <i class="fa-solid fa-pen"></i>
        <span>Edit</span>
    </div>

    <div class="card-body company-details text-center" *ngIf="!selectedClient">
        <div class="clients-details">
            <p>select a Client</p>
            <p>or</p>
            <button type="button" class="btn btn-primary" (click)="addClients()"><i class="fa-solid fa-circle-plus"></i>
                Add New clients</button>
        </div>
    </div>
</div>
<router-outlet></router-outlet>