<div class="p-4">
    <div class="mb-3">
        <span class="main-head">Billed To </span><span>(client Details)</span>
    </div>
    <!-- <div class="company-name-bill">
        <img src="assets\images\mcode-m.png" class="img-fluid" /><span>mcode infosoft</span>
    </div> -->
    <div class="form-group">
        <select class="form-control company-name-bill selector-height-35" id="exampleFormControlSelect1"><i class="fa-solid fa-chevron-down"></i>
          <option>select a client</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>

      </div>
    <div class="card">
        <!-- <div class="card-header d-flex justify-content-between details-head">
            <div>
                <h5 class="mb-0">Business details</h5>
            </div>
            <div><i class="fa-solid fa-pen"></i><span>Edit</span></div>
        </div> -->
        <div class="card-body company-details text-center">
            <div class="clients-details">
                <p>select a Client</p>
                <p>or</p>
                <button type="button" class="btn btn-primary" (click)="addClients()"><i class="fa-solid fa-circle-plus"></i> Add New clients</button>
            </div>
        </div>
    </div>

</div>