<!-- <div class="card-body p-4 border-top border-top-dashed" ngModelGroup="shipping">
    <div class="row">
   
        <div class="col-sm-6 ms-auto"  ngModelGroup="address">
            <div class="row">
                <div class="col-lg-8">
                    <div>
                        <label for="shippingName"
                            class="text-muted text-uppercase fw-semibold">Shipping Address</label>
                    </div>
                    <div class="mb-2" >
                        <input type="text" class="form-control bg-light border-0" id="shippingName"
                            placeholder="Full Name" name="fullName" ngModel  />
                        <div class="invalid-feedback">
                            Please enter a full name
                        </div>
                    </div>
                    <div class="mb-2" >
                        <textarea class="form-control bg-light border-0" id="shippingAddress"
                            rows="3" placeholder="Address" name="address" ngModel ></textarea>
                        <div class="invalid-feedback">
                            Please enter a address
                        </div>
                    </div>
                    <div class="mb-2" >
                        <input type="text" class="form-control bg-light border-0"
                            data-plugin="cleave-phone" id="shippingPhoneno"
                            placeholder="(123)456-7890" required ngModel  name="phoneNo"  />
                        <div class="invalid-feedback">
                            Please enter a phone number
                        </div>
                    </div>
                    <div >
                        <input type="text" class="form-control bg-light border-0" id="shippingTaxno"
                            placeholder="Tax Number" required  ngModel name="taxnumber"  />
                        <div class="invalid-feedback">
                            Please enter a tax number
                        </div>
                    </div>
                </div>
            </div>
        </div>
       
    </div>
  
</div> -->
