.profile-inputs label{
  width: 150px;

  }
  .profile-inputs .form-input, .card-body.profile-inputs h3{
    padding: 10px 0px;
  }
  .profile-inputs .form-input:not(:last-child){
    border-bottom: 1px solid rgba(227, 30, 37, 0.322);
  }
  .profile-inputs input{
    width: 50%;
  }
  .profile-inputs input:disabled{
border: 0px;
background-color: transparent;
  }
  .p-upload{
    padding: 10px 15px;
    border: 1px solid #e31e249e;
    border-radius: 4px;
    position: absolute;
    right: 20px;
    transition: .4s;
  }
  span.p-upload:hover {
    background-color: #e31e25;
  }
  span.p-upload:hover i {
    color: #fff;
  }
  .p-upload i { 
    color: #e31e249e;
  }
  .p-upload input {
    opacity: 0;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    cursor: pointer !important;
  }

  /* NEW-CSS */
  .profile-cards {
    box-shadow: 0 3px 2px #e31e249e;
    border-color: #ff00001f !important;
  }
  .card-body.profile-inputs h3 {
    border-color: #e31e2552 !important;
  }
  @media (min-width:992px) and (max-width:1099px) {
    .p-upload {
      position: absolute;
      right: 4px;
    }
  }