<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                <h4 class="mb-sm-0">Invoice</h4>

                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Invoice</a></li>
                        <li class="breadcrumb-item active">Invoice</li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-3 col-md-6">
                <!-- card -->
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <div class="flex-grow-1">
                                <!-- <h4 class="fs-22 fw-semibold ff-secondary mb-2">$<span class="counter-value"
                                        data-target="559.25">0</span>k</h4> -->
                                <p class="text-uppercase fw-medium fs-14 text-muted mb-0">Invoices Sent
                                    <span class="text-success fs-14 mb-0 ms-1">
                                        <i class="ri-arrow-right-up-line fs-13 align-middle"></i> <span
                                            [textContent]="countTotalInvoices()"></span>
                                    </span>
                                </p>
                            </div>
                            <div class="avatar-sm flex-shrink-0">
                                <span class="avatar-title bg-light rounded-circle fs-3">
                                    <i class="las la-file-alt fs-24 text-primary"></i>
                                </span>
                            </div>
                        </div>
                        <div class="d-flex align-items-end justify-content-between mt-4">
                            <div>
                                <span class="badge bg-primary me-1"><span [textContent]="countTotalInvoices()"></span></span>
                                <span class="text-muted">Invoices
                                    sent</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        
            <div class="col-xl-3 col-md-6">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <div class="flex-grow-1">
                                <!-- <h4 class="fs-22 fw-semibold ff-secondary mb-2">$<span class="counter-value"
                                        data-target="409.66">0</span>k</h4> -->
                                <p class="text-uppercase fw-medium fs-14 text-muted mb-0">Paid Invoices
                                    <span class="text-danger fs-14 mb-0 ms-1">
                                        <i class="ri-arrow-right-down-line fs-13 align-middle"></i><span
                                            [textContent]="countPaidInvoices()"></span>
                                    </span>
                                </p>
                            </div>
                            <div class="avatar-sm flex-shrink-0">
                                <span class="avatar-title bg-light rounded-circle fs-3">
                                    <i class="las la-check-square fs-24 text-primary"></i>
                                </span>
                            </div>
                        </div>
                        <div class="d-flex align-items-end justify-content-between mt-4">
                            <div>
                                <span class="badge bg-danger me-1"><span [textContent]="countPaidInvoices()"></span></span>
                                <span class="text-muted">Paid by
                                    clients</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        
            <div class="col-xl-3 col-md-6">
                <div class="card bg-primary">
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <div class="flex-grow-1">
                                <!-- <h4 class="fs-22 fw-semibold ff-secondary mb-2 text-white">$<span class="counter-value"
                                        data-target="136.98">0</span>k</h4> -->
                                <p class="text-uppercase fw-medium fs-14 text-white-50 mb-0"> Unpaid Invoices
                                    <span class="text-danger fs-14 mb-0 ms-1">
                                        <i class="ri-arrow-right-down-line fs-13 align-middle"></i> <span
                                            [textContent]="countUnpaidInvoices()"></span>
                                    </span>
                                </p>
                            </div>
                            <div class="avatar-sm flex-shrink-0">
                                <span class="avatar-title bg-soft-light rounded-circle fs-3">
                                    <i class="las la-clock fs-24 text-white"></i>
                                </span>
                            </div>
                        </div>
                        <div class="d-flex align-items-end justify-content-between mt-4">
                            <div>
                                <span class="badge bg-danger me-1"><span [textContent]="countUnpaidInvoices()"></span></span>
                                <span class="text-white">Unpaid
                                    by
                                    clients</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        
            <div class="col-xl-3 col-md-6">
        
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <div class="flex-grow-1">
                                <!-- <h4 class="fs-22 fw-semibold ff-secondary mb-2">$<span class="counter-value"
                                        data-target="84.20">0</span>k</h4> -->
                                <p class="text-uppercase fw-medium fs-14 text-muted mb-0"> Cancelled Invoices
                                    <span class="text-success fs-14 mb-0 ms-1">
                                        <i class="ri-arrow-right-up-line fs-13 align-middle"></i> <span
                                            [textContent]="countCancelInvoices()"></span>
                                    </span>
                                </p>
                            </div>
                            <div class="avatar-sm flex-shrink-0">
                                <span class="avatar-title bg-light rounded-circle fs-3">
                                    <i class="las la-times-circle fs-24 text-primary"></i>
                                </span>
                            </div>
                        </div>
                        <div class="d-flex align-items-end justify-content-between mt-4">
                            <div>
                                <span class="badge bg-primary me-1"><span [textContent]="countCancelInvoices()"></span></span>
                                <span class="text-muted">Cancelled by
                                    clients</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-auto ms-auto">
        <div class="d-flex gap-3">
            <div class="search-box">
                <input type="text" class="form-control" placeholder="Search for name or designation...">
                <i class="las la-search search-icon"></i>
            </div>
            <div class="">
                <button type="button" id="dropdownMenuLink1" data-bs-toggle="dropdown" aria-expanded="false"
                    class="btn btn-soft-info btn-icon fs-14"><i class="las la-ellipsis-v fs-18"></i></button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink1">
                    <li><a class="dropdown-item" href="#">Print</a></li>
                    <li><a class="dropdown-item" href="#">Export to Excel</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="row pb-4 gy-3">
    <div class="col-sm-4">
        <a href="/add-invoice" class="btn btn-primary addMembers-modal"><i class="las la-plus me-1"></i> Add
            Invoices</a>
    </div>
</div>