button.btn.btn-info.save-cstn-btn.View-invoice.button {
    display: flex;
    margin: auto;
    background-color: #bb1b1f;
    border-color: #bb1b1f;
    color: #fff;
    padding: 6px 20px;
    font-size: 18px;
    margin-bottom: 20px;
}

.buttons {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.btn.btn-primary.print-cstn-btn.downloadInvoice {
    height: 42px;
    background-color: #bb1b1f !important;
    border-color: #bb1b1f !important;
    color: #fff;
    margin-left: 52px;
    font-size: 18px;
}

i.fa-solid.fa-house {
    margin-right: 10px;
}

span.badge.badge-primary {
    padding: 11px;
    font-size: 15px;
    border-radius: 21px;
}


td.descriptionTR {
    margin-top: 30px !important;
    padding-top: 40px !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto Slab', serif;
    color: inherit;
}

i.fa-solid.fa-house {
    margin-right: 9px;
    margin-top: 4px !important;
}

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}

.spinner:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    border-top-color: #000000;
    animation: spinner .8s linear infinite;
}

.input-icon-container {
    position: relative;
}

.input-icon {
    position: absolute;
    top: 10px;
    left: 1px;
}

.input-field {
    padding-left: 20px;
}

.descriptionbox {
    width: 203%;
}

.input-percentage {
    position: relative;
}

.percentage {
    position: absolute;
    left: 31px;
    top: 10px
}

.descriptions {
    font-size: 15px;
    font-weight: 500;
    color: #979393;
    margin: 0;
}
@media print {
    body * {
      visibility: hidden;
    }
    
    #print-section, #print-section * {
      visibility: visible;
    }
    
    #print-section {
      position: absolute;
      left: 0;
      top: 0;
    }
  }
.inc-summ-edits {
    max-width: 1000px;
    padding: 0px;
}

.edit {
    border: 1px solid #c8c8c8;
    background: #fff;
    padding: 5px 10px;
    display: inline-block;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    font-size: 12px;
    transition: background-color 0.3s;
    margin-right: 10px;

}

.boxes {
    display: flex;
    justify-content: space-between;
    padding: 25px 0px;
}

.summary-accordion {
    margin-bottom: 20px;
}

.invoice-container {
    font-family: Arial, sans-serif;
    max-width: 600px;
    margin: 20px auto;
    border: 1px solid #e5e5e5;
    padding: 20px;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.details {
    margin-bottom: 20px;
}

.amount {
    font-weight: bold;
    color: green;
}

a.btn.btn-primary {
    margin-bottom: 20px;
}

.dropbtn {
    color: white;
    border: none;
    background-color: white;
    color: black;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.home-button {
    margin-top: 15px;
}
@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}

.spinner:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    border-top-color: #000000;
    animation: spinner .8s linear infinite;
}

.downloadbtn {
    border: 0px solid white;
    background-color: white;
}