<div style="background-color: #f2f2f2; font-family: 'Roboto Slab', serif;">
    <div class="container inc-summ-edits">
        <div class=" boxes">
            <div>
                <div class="edit">
                    <div (click)="updateInvoice(data)"><i class="fa-solid fa-pencil"></i></div>
                    <p class="mb-0"> Edit</p>
                </div>
                <div class="edit" (click)="recordPayment(data)">
                    <div><i class="fa-solid fa-money-bill-wave"></i></div>
                    <p class="mb-0"> Record Payment</p>
                </div>
            </div>
            <div>

                <div class="edit">
                    <div><i class="fa-solid fa-print"></i></div>
                    <p class="mb-0">
                        print
                    </p>
                </div>
                <div class="edit" (click)="downloadInvoice()">
                    <div><i class="fa-solid fa-download"></i></div>
                    <p class="mb-0">
                        Download
                    </p>
                </div>
                <div class="edit" (click)="emailInvoice(data)">
                    <div><i class="fa-solid fa-envelope"></i></div>
                    <p class="mb-0">
                        email invoice
                    </p>
                </div>
            </div>
        </div>
        <span (click)="createAnotherInvoice()"> <a class="btn btn-primary">
                <i class="las la-plus me-1"></i>
                Create another invoice</a></span>
    </div>
    <app-invoice-summary></app-invoice-summary>




    <div id="pdfHolder"
        style="width: 1000px; height:100%; background-color:#ffff; padding: 20px; padding-bottom: 5px; margin: auto;">
        <table>
            <thead>
                <tr>
                    <td>
                        <table style="width: 100%;">

                            <tbody>
                                <tr>
                                    <td style="text-align: left;"><img [src]="invoiceImage" width="150px"
                                            height="150px" />
                                    </td>
                                    <td>
                                    </td>

                                    <td style="text-align: right; vertical-align: middle;">
                                        <span class="badge badge-pill badge-primary status" [ngClass]="{
                                                       'badge-warning': data?.status === 'UNPAID',
                                                       'badge-success': data?.status === 'PAID',
                                                       'badge-danger': data?.status === 'CANCELLED'
                                                                          }">
                                            {{ data?.status }}
                                        </span>

                                        <h2 style="font-size: 34px; font-weight: 400; padding-top: 15px;">Invoice</h2>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <table style="width: 100%; margin-top: 10px;">
                            <tbody>
                                <tr>
                                    <td style="text-align: left; width:30%; vertical-align: top;">
                                        <div>
                                            <h4 style="font-size: 17px; color: #282828; font-weight: 400;">Billed By
                                            </h4>
                                            <div>
                                                <h2
                                                    style="font-size: 20px; color: #2B2B2B; font-weight: bold;     margin: 14px 0px;">
                                                    M CODE INFOSOFT</h2>
                                                <p
                                                    style="font-size: 17px; color: #282828; font-weight: 400; line-height: 23px; margin: 10px 0;">
                                                    #60, 1st Floor, Zirakpur,<br> Punjab, India - 140603</p>
                                                <div>
                                                    <div style="padding-bottom: 8px;">
                                                        <span
                                                            style="font-size: 17px; font-weight: 700; color: #979393;">GSTIN:</span><span
                                                            style="font-size: 17px; color: #282828; font-weight: 400; padding-left: 5px;">03DQCPK3553H1Z3</span>
                                                    </div>
                                                    <div style="padding-bottom: 8px;">
                                                        <span
                                                            style="font-size: 17px; font-weight: 700; color: #979393;">PAN:</span><span
                                                            style="font-size: 17px; color: #282828; font-weight: 400; padding-left: 5px;">DQCPK3553H</span>
                                                    </div>
                                                    <div style="padding-bottom: 8px;">
                                                        <span
                                                            style="font-size: 17px; font-weight: 700; color: #979393;">Email:</span><span
                                                            style="font-size: 17px; color: #282828; font-weight: 400; padding-left: 5px;">Info@mcodeinfosoft.com</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td style="text-align: left; width:30%; vertical-align: top;">
                                        <div>
                                            <h4 style="font-size: 17px; color: #282828; font-weight: 400;">Billed To
                                            </h4>
                                            <div>
                                                <h2
                                                    style="font-size: 20px; color: #2B2B2B; font-weight: bold; margin: 14px 0px;">
                                                    {{data?.client?.name}}
                                                </h2>
                                                <p
                                                    style="font-size: 17px; color: #282828; font-weight: 400; line-height: 23px; margin: 10px 0; padding-right:25px;">
                                                    {{data?.client?.address}}</p>
                                                <div>
                                                    <div style="padding-bottom: 8px;">
                                                        <span
                                                            style="font-size: 17px; font-weight: 700; color: #979393;">GSTIN:</span><span
                                                            style="font-size: 17px; color: #282828; font-weight: 400; padding-left: 5px;">{{data?.client?.gstin}}</span>
                                                    </div>
                                                    <div style="padding-bottom: 8px;">
                                                        <span
                                                            style="font-size: 17px; font-weight: 700; color: #979393;">PAN:</span><span
                                                            style="font-size: 17px; color: #282828; font-weight: 400; padding-left: 5px;">{{data?.client?.pan}}</span>
                                                    </div>

                                                    <div style="padding-bottom: 8px;">
                                                        <span
                                                            style="font-size: 17px; font-weight: 700; color: #979393;">Email:</span><span
                                                            style="font-size: 17px; color: #282828; font-weight: 400; padding-left: 5px;">{{data?.client?.email}}</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td style="text-align: left; width:30%; vertical-align: top;">
                                        <div>
                                            <h4 style="font-size: 17px; color: #282828; font-weight: 400;">Invoice
                                                Details
                                            </h4>
                                            <div>
                                                <div style="padding-bottom: 10px; float: left; width: 100%;">
                                                    <span
                                                        style="font-size: 17px; font-weight: 700; color: #979393; float: left; width: 50%;">Invoice
                                                    </span><span
                                                        style="font-size: 17px; color: #282828; font-weight: 400; float: left; width: 50%;">{{data?.invoiceNo}}</span>
                                                </div>
                                                <div style="float: left; width: 100%;">
                                                    <span
                                                        style="font-size: 17px; font-weight: 700; color: #979393; float: left; width: 50%;">Invoice
                                                        Date </span><span
                                                        style="font-size: 17px; color: #282828; font-weight: 400; float: left; width: 50%;">
                                                        {{data?.date | date: 'dd-MM-yyyy'}}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table style="width: 100%; padding-top: 50px; padding-bottom: 50px; border-spacing: 0px;">
                            <thead>
                                <tr
                                    style="text-align: center; background-color: #F8D1D1;vertical-align: top;font-size: 17px;">
                                    <th
                                        style="width: 5%; border: 1px solid #f3a4a4; border-bottom: none;font-weight: 400; padding: 5px 10px 10px 10px;">
                                    </th>
                                    <ng-container *ngFor="let column of data?.table">
                                        <th *ngIf="column.fieldName !== 'description'"
                                            [ngStyle]="{'width': column.default ? '35%' : '15%', 'text-align': 'left', 'border': '1px solid #f3a4a4', 'border-bottom': 'none', 'border-left': 'none', 'font-weight': '400', 'padding': '5px 10px 10px 10px'}">
                                            {{column.label }}
                                        </th>
                                    </ng-container>
                                </tr>
                            </thead>

                            <tbody>
                                <tr style="text-align: center; font-size: 17px;"
                                    *ngFor="let product of products; let i = index">
                                    <td
                                        style="border: 1px solid #d1d1d1; border-right: none; border-top: none; padding: 10px 10px 10px 10px;">
                                        {{ i + 1 }}.
                                    </td>
                                    <ng-container *ngFor="let details of table">

                                        <td class="description input-percentage"
                                            *ngIf="details.fieldName !== 'description'"
                                            style="text-align: left; border-bottom: 1px solid #d1d1d1; padding: 10px 10px 10px 10px;">
                                            <ng-container [ngSwitch]="true">
                                                <ng-container
                                                    *ngSwitchCase="details.type === 'DATE'">{{datePipe.transform(product[details.fieldName],'MM-dd-yyyy')}}</ng-container>
                                                <ng-container
                                                    *ngSwitchCase="details.fieldName == 'taxamount'">{{product[details.fieldName]}}%</ng-container>
                                                <ng-container
                                                    *ngSwitchCase="['amount', 'rate' , 'total' , 'CURRENCY'].includes(details.fieldName)">{{currencyData}}{{product[details.fieldName]}}</ng-container>
                                                <ng-container *ngSwitchCase="details.fieldName === 'item'">
                                                    {{product[details.fieldName]}}
                                                    <span class="descriptions" [innerHTML]="product.description"></span>
                                                </ng-container>
                                                <ng-container *ngSwitchDefault>
                                                    {{product[details.fieldName]}}</ng-container>

                                            </ng-container>


                                        </td>
                                    </ng-container>
                                </tr>
                            </tbody>

                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table style="width: 100%; padding-bottom: 50px; border-spacing: 0px;">
                            <tbody>
                                <tr>

                                    <td style="width: 55%; vertical-align: top;">
                                        <h4 style="font-size: 17px; font-weight: 700; color: #979393; margin: 0;">
                                            Declaration</h4>
                                        <p
                                            style="font-size: 18px; color: #282828; font-weight: 400; line-height: 29px; margin: 10px 0; word-spacing: 2px;">
                                            We declare that this invoice shows the actual price of the goods
                                            described and that all particulars are true and correct.
                                        </p>
                                    </td>
                                    <td style="width: 40%; vertical-align: top;">
                                        <div style="padding-bottom: 15px; float: left; width: 100%;">
                                            <span
                                                style="font-size: 17px; font-weight: 700; color: #979393; float: left; padding-left: 10px;">Amount</span>

                                            <span
                                                style="font-size: 17px; color: #282828; font-weight: 400; float: right; text-align: end; padding-right: 10px;">{{currencyData}}
                                                {{data?.subtotalofamount}}</span>

                                        </div>
                                        <div style="padding-bottom: 10px; float: left; width: 100%;">
                                            <span *ngIf="data?.tax !== 'NONE'"
                                                style="font-size: 17px; font-weight: 700; color: #979393; float: left; padding-left: 10px;">{{data?.tax}}</span>
                                            <span *ngIf="data?.tax !== 'NONE'"
                                                style="font-size: 17px; color: #282828; font-weight: 400; float: right; text-align: end; padding-right: 10px;">{{currencyData}}
                                                {{data?.totalamountoftax}}</span>
                                        </div>
                                        <div
                                            style="background-color: #DC1C1C; float: left; width: 100%; padding: 10px 0px;">
                                            <span
                                                style="font-size: 17px; font-weight: 400; color: #ffffff; float: left; padding-left: 10px;">Total
                                                ({{data?.currency}})</span>

                                            <span
                                                style="font-size: 17px; color: #ffffff; font-weight: 400; float: right; text-align: end; padding-right: 10px;">{{currencyData}}{{
                                                data?.totalamount !== 0 ? data?.totalamount : data?.subtotalofamount
                                                }}</span>
                                        </div>
                                        <div style="padding-top: 30px; float: left; width: 100%;">
                                            <p
                                                style="font-size: 15px; color: #282828; font-weight: 400; line-height: 29px; margin: 5px 0; word-spacing: 2px;">
                                                Total (in words) : {{totalInWords}}
                                            </p>
                                            <p
                                                style="font-size: 15px; color: #282828; font-weight: 400; line-height: 29px; margin: 0; word-spacing: 2px;">

                                            </p>
                                        </div>
                                    </td>
                                    <td style="width: 5%; vertical-align: top;"></td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table style="width: 100%; padding-bottom: 250px; padding-top: 20px; border-spacing: 0px;">
                            <tbody>
                                <tr>
                                    <td style="width: 40%; vertical-align: top;">
                                        <div style="float: left; width: 100%;">
                                            <h4 style="font-size: 17px; color: #282828; font-weight: 400;">Bank Details
                                            </h4>
                                            <div style="float: left; width: 100%;">
                                                <div style="padding-bottom: 10px; float: left; width: 100%;">
                                                    <span
                                                        style="font-size: 17px; font-weight: 700; color: #979393; float: left; width: 50%;">Account
                                                        Holder Name</span><span
                                                        style="font-size: 17px; color: #282828; font-weight: 400; float: left; width: 50%;">M
                                                        CODE INFOSOFT</span>
                                                </div>
                                                <div style="float: left; width: 100%; padding-bottom: 10px;">
                                                    <span
                                                        style="font-size: 17px; font-weight: 700; color: #979393; float: left; width: 50%;">Account
                                                        Number</span>
                                                    <span
                                                        style="font-size: 17px; color: #282828; font-weight: 400; float: left; width: 50%;">004305006771</span>
                                                </div>
                                                <div style="float: left; width: 100%; padding-bottom: 10px;">
                                                    <span
                                                        style="font-size: 17px; font-weight: 700; color: #979393; float: left; width: 50%;">IFSC</span>
                                                    <span
                                                        style="font-size: 17px; color: #282828; font-weight: 400; float: left; width: 50%;">ICIC0000043</span>
                                                </div>
                                                <div style="float: left; width: 100%; padding-bottom: 10px;">
                                                    <span
                                                        style="font-size: 17px; font-weight: 700; color: #979393; float: left; width: 50%;">SWIFT
                                                        Code</span>
                                                    <span
                                                        style="font-size: 17px; color: #282828; font-weight: 400; float: left; width: 50%;">ICICINBBCTS</span>
                                                </div>
                                                <div style="float: left; width: 100%;">
                                                    <span
                                                        style="font-size: 17px; font-weight: 700; color: #979393; float: left; width: 50%;">Bank</span>
                                                    <span
                                                        style="font-size: 17px; color: #282828; font-weight: 400; float: left; width: 50%;">ICICI
                                                        Bank Ltd.</span>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td style="width: 60%;">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table style="width: 100%; border-spacing: 0px;">
                            <tbody>
                                <tr>
                                    <td style="width: 100%; text-align: center;">
                                        <p
                                            style="font-size: 12px; color: #282828; font-weight: 700; line-height: 29px; margin: 0; word-spacing: 2px;">
                                            This is an electronically generated document, no signature is required.
                                        </p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="container inc-summ-edits">
        <div class=" boxes">
            <div>
                <div class="edit" (click)="updateInvoice(data)">
                    <div><i class="fa-solid fa-pencil"></i></div>
                    <p class="mb-0"> Edit</p>
                </div>
                <div class="edit" (click)="recordPayment(data)">
                    <div><i class="fa-solid fa-money-bill-wave"></i></div>
                    <p class="mb-0"> Record Payment</p>
                </div>
            </div>
            <div>

                <div class="edit">
                    <div><i class="fa-solid fa-print"></i></div>
                    <p class="mb-0">
                        print
                    </p>
                </div>
                <div class="edit" (click)="downloadInvoice()">
                    <div><i class="fa-solid fa-download"></i></div>
                    <p class="mb-0">
                        Download
                    </p>
                </div>
                <div class="edit" (click)="emailInvoice(data)">
                    <div><i class="fa-solid fa-envelope"></i></div>
                    <p class="mb-0">
                        email invoice
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>