.inc-summ-edits{
    max-width: 1000px;
    padding: 0px;
}.edit {
    border: 1px solid #c8c8c8;
    background: #fff;
    padding: 5px 10px;
    display: inline-block;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    font-size: 12px;
    transition: background-color 0.3s;
    margin-right: 10px; 

}

.boxes {
    display: flex;
    justify-content: space-between;
    padding: 25px 0px;
}

.summary-accordion {
    margin-bottom: 20px;
}

.invoice-container {
    font-family: Arial, sans-serif;
    max-width: 600px;
    margin: 20px auto;
    border: 1px solid #e5e5e5;
    padding: 20px;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.details {
    margin-bottom: 20px;
}

.amount {
    font-weight: bold;
    color: green;
}