/* @media print {
    body * {
      visibility: hidden;
    }
    
    #print-section, #print-section * {
      visibility: visible;
    }
    
    #print-section {
      position: absolute;
      left: 0;
      top: 0;
    }
  }
.inc-summ-edits {
    max-width: 1000px;
    padding: 0px;
}

.edit {
    border: 1px solid #c8c8c8;
    background: #fff;
    padding: 5px 10px;
    display: inline-block;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    font-size: 12px;
    transition: background-color 0.3s;
    margin-right: 10px;

}

.boxes {
    display: flex;
    justify-content: space-between;
    padding: 25px 0px;
}

.summary-accordion {
    margin-bottom: 20px;
}

.invoice-container {
    font-family: Arial, sans-serif;
    max-width: 600px;
    margin: 20px auto;
    border: 1px solid #e5e5e5;
    padding: 20px;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.details {
    margin-bottom: 20px;
}

.amount {
    font-weight: bold;
    color: green;
}

a.btn.btn-primary {
    margin-bottom: 20px;
}

.dropbtn {
    color: white;
    border: none;
    background-color: white;
    color: black;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.home-button {
    margin-top: 15px;
}
@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}

.spinner:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    border-top-color: #000000;
    animation: spinner .8s linear infinite;
}

.downloadbtn {
    border: 0px solid white;
    background-color: white;
}
.edit .dropdown {
    position: relative; 
  }
  
  .edit .dropdown-content {
    display: none;    
    position: absolute;
    bottom: 100%;      
  }
  
  .edit .dropdown:hover .dropdown-content {
    display: block;     
  }
  

  .top-dropdown {
    position: relative;
    display: inline-block;
}

.top-dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.top-dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.top-dropdown-content a:hover {
    background-color: #ddd;
}

.top-dropdown:hover .top-dropdown-content {
    display: block;
}

.top-dropbtn {
    color: white;
    border: none;
    background-color: white;
    color: black;
} */



button.btn.btn-info.save-cstn-btn.View-invoice.button {
    display: flex;
    margin: auto;
    background-color: #bb1b1f;
    border-color: #bb1b1f;
    color: #fff;
    padding: 6px 20px;
    font-size: 18px;
    margin-bottom: 20px;
}

.buttons {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.btn.btn-primary.print-cstn-btn.downloadInvoice {
    height: 42px;
    background-color: #bb1b1f !important;
    border-color: #bb1b1f !important;
    color: #fff;
    margin-left: 52px;
    font-size: 18px;
}

i.fa-solid.fa-house {
    margin-right: 10px;
}

span.badge.badge-primary {
    padding: 11px;
    font-size: 15px;
    border-radius: 21px;
}


td.descriptionTR {
    margin-top: 30px !important;
    padding-top: 40px !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: inherit;
}

i.fa-solid.fa-house {
    margin-right: 9px;
    margin-top: 4px !important;
}

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}

.spinner:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    border-top-color: #000000;
    animation: spinner .8s linear infinite;
}

.input-icon-container {
    position: relative;
}

.input-icon {
    position: absolute;
    top: 10px;
    left: 1px;
}

.input-field {
    padding-left: 20px;
}

.descriptionbox {
    width: 203%;
}

.input-percentage {
    position: relative;
}

.percentage {
    position: absolute;
    left: 31px;
    top: 10px
}

.descriptions {
    font-size: 15px;
    font-weight: 500;
    color: #979393;
    margin: 0;
}
@media print {
    body * {
      visibility: hidden;
    }
    
    #print-section, #print-section * {
      visibility: visible;
    }
    
    #print-section {
      position: absolute;
      left: 0;
      top: 0;
    }
  }
.inc-summ-edits {
    max-width: 1000px;
    padding: 0px;
}

.edit {
    border: 1px solid #c8c8c8;
    background: #fff;
    padding: 5px 10px;
    display: inline-block;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    font-size: 12px;
    transition: background-color 0.3s;
    margin-right: 10px;

}

.boxes {
    display: flex;
    justify-content: space-between;
    padding: 25px 0px;
}

.summary-accordion {
    margin-bottom: 20px;
}

.invoice-container {
    font-family: Arial, sans-serif;
    max-width: 600px;
    margin: 20px auto;
    border: 1px solid #e5e5e5;
    padding: 20px;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.details {
    margin-bottom: 20px;
}

.amount {
    font-weight: bold;
    color: green;
}

a.btn.btn-primary {
    margin-bottom: 20px;
}

.dropbtn {
    color: #e31e24;
    border: none;
    background-color: white;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    left: -16px;
    border-radius: 0.375rem;
    border: 1px solid #ff00001f;
    background-color: #fff;
    min-width: 180px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ffdad5;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.home-button {
    margin-top: 15px;
}
@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}

.spinner:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    border-top-color: #000000;
    animation: spinner .8s linear infinite;
}

.downloadbtn {
    border: 0px solid #e31e24;
    background-color: transparent;
    color: #e31e24;
}
.edit .dropdown {
    position: relative; /* Provide positioning context for the dropdown content */
  }
  
  .edit .dropdown-content {
    display: none;      /* Hide by default */
    position: absolute; /* Absolutely position the dropdown content */
    bottom: 100%;       /* Position it just above the button */
    /* You might need other styles for appearance like box-shadow, border, etc. */
  }
  
  .edit .dropdown:hover .dropdown-content {
    display: block;     /* Show dropdown content on hover */
  }
  

  .top-dropdown {
    position: relative;
    display: inline-block;
}

.top-dropdown-content {
    display: none;
    border: 1px solid #ff00001f;
    border-radius: 0.25rem;
    position: absolute;
    left: -16px;
    background-color: #fff;
    min-width: 180px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.top-dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.top-dropdown-content a:hover {
    background-color: #ffdad5 ;
}

.top-dropdown:hover .top-dropdown-content {
    display: block;
}

.top-dropbtn {
    color: #e31e24;
    border: none;
    background-color: transparent;
    text-transform: capitalize;
}

/* NEW-CSS */
a.btn.btn-primary.home-button {
    font-family: "DM Sans",sans-serif !important;
}
.boxes button.edit, .edit {
    background-color: transparent;
    border-color: #e31e24 !important;
    color: #e31e24;
    padding: 8px 15px;
    text-transform: capitalize;
    height: 38px;
}
table tr td:nth-child(4) {
    border-right: 1px solid #dfdddd;
}
table tr.mobile-left td:nth-child(1) {
    border-left: 1px solid #dfdddd;
}
@media (min-width:320px) and (max-width:767px) {
    #print-section {
        width: 100% !important;
        padding: 20px !important;
    }
    #print-section #pdfHolder {
        width: 100% !important;
        padding: 20px !important;
    }
    .inc-summ-edits {
        width: 100% !important;
        padding: 20px !important;
    }
    .boxes, table thead {
        display: block;
        background: #fff;
    }
    .boxes button.edit, .edit {
        margin-top: 5px;
    }
    table, table tbody tr {
        border: 0;
    }
    table tbody tr td {
        display: unset;
        box-shadow: none;
        text-align: left;
    }
    table tbody tr {
        border-top: 0;
    }
    td.table-img img {
        width: 80px;
        height: 80px;
    }
    tr.mobile-flex {
        display: flex;
        justify-content: space-between;
    }
    tr.mobile-flex h2.text-invoice {
        padding: 0 !important;
        font-size: 25px !important;
    }
    .mobile-height {
        height: 30px;
    }
    p.mobile-margin, h4.mobile-margin  {
        margin-bottom: 0 !important;
    }
    .width-mobile span {
        width: 100% !important;
        display: block !important;
        height: 30px !important;
    }
    tr.mobile-left {
        text-align: left !important;
    }
    /* .mobile-width p, .mobile-width {
        width: 280px !important;
    } */
    p.mobile-left {
        width: 290px;
        line-height: 1.3 !important;
        margin: auto !important;
    }
    table tbody tr td {
        line-height: 20px !important;
    }
    table tbody tr {
        height: 0;
    }
    tr.second {
        display: block;
        height: 80px !important;
        margin-top: -40px;
    }
    tr.forth {
        height: 500px !important;
        display: block;
        margin-top: -40px;
    }
    .boxes {
        padding: 0 0 25px 0px;
    }
    table {
        margin-bottom: 0 !important;
    }
    tr.forth table {
        margin-top: 0 !important;
    }
        /* tr.mobile-left{
        min-width: 100vw !important;
        width: 100vw !important;
    } */
    tr.second {
        margin-bottom: 30px;
    }
    tr.mobile-left td{
        display: inline-table !important;

    }
    tr.second thead tr{
        min-width: 100% !important;
        width: 100% !important;
        display: inline-table;
    }
    table tr.mobile-left td:nth-child(1) {
        width: 5%;
        padding: 0 !important;
        height: 40px !important;
        display: inline-flex !important;
        padding: 6px 8px !important;
    }
    table tr.mobile-left td:nth-child(2), table tr.mobile-left td:nth-child(3) {
        width: 34%;
        height: 40px !important;
        display: inline-flex !important;
        padding: 6px 8px !important;
    }
    table tr.mobile-left td:nth-child(4) {
        width: 26%;
        height: 40px !important;
        display: inline-flex !important;
        padding: 6px 8px !important;
    }
    span.badge.badge-primary {
        padding: 8px;
        font-size: 12px;
        margin: 12px 0 10px 0;
    }
    tr.third p {
        margin: 0 !important;
    }
    table thead {
        display: contents !important;
    }
    table.m-margin {
        margin-top: 80px !important;
    }
    table thead tr th {
        line-height: 40px !important;
    }
}
@media (min-width:768px) and (max-width:991px) {
    #print-section #pdfHolder, .inc-summ-edits {
        width: 700px !important;
    }
    table tr span, table tr p {
        font-size: 15px !important;
    }
    tr.forth table tbody tr span {
        width: 50% !important;
    }
}
@media (min-width:992px) and (max-width:1099px) {
    #print-section #pdfHolder, .inc-summ-edits {
        width: 900px !important;
    }
}    