span.badge.badge-soft-success.p-2 {
  color: #934fb0;
  background-color: rgba(147, 79, 176, .1);
}

button.btn.btn-primary {
  margin-right: 12px;
}

i.fa-sharp.fa-solid.fa-xmark.cancel {
  font-size: 21px;
  margin-top: 10px;
}

.status {
 
  padding: 9px;
  font-size: 11px;
  width: 85px;
}

tr.disabled {
  opacity: 0.6;
  pointer-events: none;
}

.hstack i {
  font-size: 18px;
  padding: 6px;
}

.list-menu button {
  padding: 0px;
  width: 18px;
  height: 30px;
}

.list-menu button:hover , .list-menu .btn.show{
    background-color: #ffdad5 !important;
}

.hstack .btn:hover {
    background-color: #ffdad5 !important;
}

.list-menu i {
  margin-top: 0px;
}

.list-menu ul {
  min-width: 70px;
  padding: 0px
}

.list-menu ul li {
  display: block;
  text-align: center;
  padding: 7px 0px;
  padding-bottom: 10px;
}

.list-menu ul li:nth-child(1) {
  border-bottom: 1px solid gray;
  margin-right: 0px;

}

.disabled {
  pointer-events: none;
  opacity: 0.5; 
}
.list-menu span{
    font-size: 14px;
    font-weight: 600;
}
.list-menu li:hover{
    background-color: #ffdad5 !important;
}
@media only screen and (width:1440px) {
.list-menu .dropdown-menu.show{
    transform: translate3d(1024px, 185px, 0px) !important;
}
}
.bulk-delete{
  margin-bottom: 20px;
  background-color: var(--highlight-color) !important;
    border-color: var(--highlight-color) !important;
}
input#searchMemberList {
  width: 100px;
  margin-left: 80%;
}