span.badge.badge-soft-success.p-2 {
    color: #934fb0;
    background-color: rgba(147,79,176,.1);
}
button.btn.btn-primary {
    margin-right: 12px;
}
i.fa-sharp.fa-solid.fa-xmark.cancel {
    font-size: 21px;
    margin-top: 10px;
}   
.status {
    background-color: #bb1b1f;
    padding: 11px;
    font-size: 12px;
}
tr.disabled {
    opacity: 0.6;
    pointer-events: none;
  }