<div class="row mt-5 pt-5">
    <div class="col-md-7"></div>
    <div class="col-md-5">
        <div class="card">
            <div class="card-body p-4">
                <div class="sub-amount">
                    <span>Amount</span><span>{{currency}}{{totalAmount}}</span>
                </div>
                <div class="sub-amount">
                    <span>Tax Rate</span><span>{{currency}}{{totalrate}}</span>
                </div>
                <div class="total-amount">
                    <span>Total({{currency}})</span><span>{{currency}}{{totalTotalAmount}}</span>
                </div>
                <div class="amount-words">
                    <h4>Total(in-words)</h4>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row mt-3" ngModelGroup="paymentDetails">
    <div class="col-lg-4">
        <div class="">
            <label for="choices-payment-type" class="form-label text-muted text-uppercase fw-semibold">Bank
                Details</label>
            <div class="bank-background-edit">
                <div class="">
                    <label for="Bankname">Bank Name : ABC </label>
                </div>
                <div class="">
                    <label for="cardHolderName">cardHolderName : ABC </label>
                </div>
                <div class="">
                    <label for="accountNumber">accountNumber : ABC</label>
                </div>
                <div class="">
                    <label for="ifscCode">IFSCCode : ABC</label>
                </div>


                <input type="hidden" ngModel name="BankName" [(ngModel)]="Bankdetails['BankName']">
                <input type="hidden" ngModel name="cardHolderName" [(ngModel)]="Bankdetails['cardHolderName']">
                <input type="hidden" ngModel name="accountNumber" [(ngModel)]="Bankdetails['accountNumber']">
                <input type="hidden" ngModel name="IFSCCode" [(ngModel)]="Bankdetails['IFSCCode']">

            </div>
        </div>
    </div>

</div>