<div class="row mt-5 pt-5">
  <div class="col-md-7"></div>
  <div class="col-md-5">
    <div class="card">
      <div class="card-body p-4">
        <div class="sub-amount">
          <span>Amount</span><span>{{currency}}{{totalAmount}}</span>
        </div>
        <div class="sub-amount">
          <span>Tax Rate : </span><span>{{currency}}{{totalrate}}</span>
        </div>
        <div class="total-amount">
          <span>Total({{ currency }})</span>
          <span>{{ currency }}{{ totalrate !== '0.00' ? totalTotalAmount : totalAmount }}</span>
        </div>
        <div class="amount-words">
          <h4>Total(in-words) : <span [innerHTML]="totalAmountInWords"></span></h4>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="row mt-3" ngModelGroup="bankDetails">
  <div class="col-lg-4">
    <div class="">
      <label for="choices-payment-type" class="form-label text-muted text-uppercase fw-semibold">Bank Details</label>
      <div class="bank-background-edit">
        <div class="">
          <label>ACCOUNT HOLDER NAME: {{ Bankdetails.accountHolderName }}</label>
        </div>
        <div class="">
          <label>accountNumber : {{ Bankdetails.accountNumber }}</label>
        </div>
        <div class="">
          <label>ifscCode : {{ Bankdetails.ifscCode }}</label>
        </div>
        <div class="">
          <label>swiftCode : {{ Bankdetails.swiftCode }}</label>
        </div>
        <div class="">
          <label>bank : {{ Bankdetails.bank }}</label>
        </div>


        <input type="hidden" ngModel name="accountHolderName" [(ngModel)]="Bankdetails.accountHolderName">
        <input type="hidden" ngModel name="accountNumber" [(ngModel)]="Bankdetails.accountNumber">
        <input type="hidden" ngModel name="ifscCode" [(ngModel)]="Bankdetails.ifscCode">
        <input type="hidden" ngModel name="swiftCode" [(ngModel)]="Bankdetails.swiftCode">
        <input type="hidden" ngModel name="bank" [(ngModel)]="Bankdetails.bank">

      </div>
    </div>
  </div>
</div>