<button type="button" #openModalButton class="btn btn-primary d-none" data-bs-toggle="modal"
    data-bs-target="#addUpdate">Add</button>
<div class="modal" id="addUpdate"  aria-labelledby="addUpdateLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="addUpdateLabel">Clients</h1>
                <button type="button" class="close" (click)="closeModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
                <button type="button" #closeModalButton class="d-none btn-close" data-bs-dismiss="modal"
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input type="name" id="name" class="form-control" [(ngModel)]="name">
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">email</label>
                    <input type="text" id="email" class="form-control" [(ngModel)]="email">
                </div>
                <div class="mb-3">
                    <label for="phoneNo" class="form-label">phoneNo</label>
                    <input type="text" id="phoneNo" class="form-control" [(ngModel)]="phoneNo">
                </div>
                <div class="mb-3">
                    <label for="registeredOn" class="form-label">RegisteredOn</label>
                    <input type="text" id="RegisteredOn" class="form-control" [(ngModel)]="RegisteredOn">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="closeModal()">Close</button>
                <button type="button" class="btn btn-primary"  (click)="saveChanges()">Save changes</button>
            </div>
        </div>
    </div>
</div>