<div class="bg-overlay bg-light"></div>

<div class="account-pages">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-5">
                <div class="auth-full-page-content d-flex min-vh-100 py-sm-5 py-4">
                    <div class="w-100">
                        <div class="d-flex flex-column h-100 py-0 py-xl-4">

                            <div class="text-center mb-5">
                                <a href="index.html">
                                    <span class="logo-lg">
                                        <img src="assets/images/logo-light-1.webp" alt="" height="35">
                                    </span>
                                </a>
                            </div>

                            <div class="card my-auto overflow-hidden">
                                <div class="row g-0">
                                    <div class="col-lg-12">
                                        <div class="p-lg-5 p-4">
                                            <div class="text-center">
                                                <h5 class="mb-0">Create New Account</h5>
                                                <!-- <p class="text-muted mt-2">Get your free Invoika account now</p> -->
                                            </div>

                                            <form class="mb-3" #signupForm="ngForm" (ngSubmit)="submit(signupForm)">
                                                <div class="mb-3">
                                                    <label for="inputEmail" class="form-label">Email</label>
                                                    <input type="email" class="form-control" name="email"
                                                      #emailValidation="ngModel" [(ngModel)]="email" id="email"
                                                      placeholder="Enter email" required
                                                      pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}"
                                                      appEmail>
                                                    <div *ngIf="emailValidation.invalid && (emailValidation.dirty || emailValidation.touched)">
                                                      <div *ngIf="emailValidation.errors?.['required']" class="text-danger">Email is required.</div>
                                                      <div *ngIf="emailValidation.errors?.['pattern']" class="text-danger">Invalid email format.</div>
                                                      <div *ngIf="emailValidation.errors?.['isExists']" class="text-danger">Email already exists.</div>
                                                    </div>
                                                  </div>
                                                  
                                                  

                                                <div class="mb-3">
                                                    <label for="inputfirstname" class="form-label">Username</label>
                                                    <input type="text" class="form-control" name="username"
                                                        #usernameValidation="ngModel" [(ngModel)]="username"
                                                        id="username" placeholder="Enter username" minlength="4"
                                                        maxlength="20" required appUsername>

                                                    <!-- Error message for minlength -->
                                                    <div
                                                        *ngIf="usernameValidation.invalid && (usernameValidation.dirty || usernameValidation.touched)">
                                                        <div *ngIf="usernameValidation.errors?.['minlength']">
                                                            Username should be at least 4 characters long.
                                                        </div>
                                                    </div>

                                                    <!-- Error message for maxlength -->
                                                    <div
                                                        *ngIf="usernameValidation.invalid && (usernameValidation.dirty || usernameValidation.touched)">
                                                        <div *ngIf="usernameValidation.errors?.['maxlength']">
                                                            Username should not exceed 20 characters.
                                                        </div>
                                                    </div>
                                                    <div *ngIf="usernameValidation.errors?.['isExists']" class="text-danger">username already exists.</div>

                                                    
                                                </div>

                                                <div class="mb-2">
                                                    <label for="userpassword" class="form-label">Password</label>
                                                    <div class="position-relative auth-pass-inputgroup mb-3">
                                                        <input type="password" class="form-control" name="password"
                                                            #passwordValidation="ngModel" [(ngModel)]="password"
                                                            id="password" [type]="showPassword ? 'text' : 'password'"
                                                            placeholder="Enter password"
                                                            pattern="^(?=.*[A-Z])(?=.*[a-z])(?=.*\d).{8,}$" required>

                                                        <!-- Error message for pattern mismatch -->
                                                        <div
                                                            *ngIf="passwordValidation.invalid && (passwordValidation.dirty || passwordValidation.touched)">
                                                            <div *ngIf="passwordValidation.errors?.['pattern']">
                                                                Password should be at least 8 characters long and
                                                                contain at least one uppercase letter, one lowercase
                                                                letter, and one digit.
                                                            </div>
                                                        </div>

                                                        <button
                                                            class="btn btn-link position-absolute end-0 top-0 text-decoration-none text-muted password-addon"
                                                            type="button" >
                                                            <i class="fa"
                                                                [ngClass]="{'fa-eye': showPassword, 'fa-eye-slash': !showPassword}"></i>
                                                        </button>
                                                    </div>
                                                </div>

                                                <div class="fs-16 pb-2">
                                                    <p class="mb-0 fs-14 text-muted fst-italic">By registering, you
                                                        agree to the Invoika <a href="#"
                                                            class="text-primary text-decoration-underline fst-normal fw-medium">Terms
                                                            of Use</a></p>
                                                </div>

                                                <div class="mt-2">
                                                    <button class="btn btn-primary w-100"
                                                        [disabled]="signupForm.invalid" type="submit">Sign Up</button>
                                                </div>
                                            </form>
                                            <div class="mt-4 text-center">
                                                <p class="mb-0">Don't have an account? <a href="/login"
                                                        class="fw-medium text-primary text-decoration-underline">Sign
                                                        in</a></p>
                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>
                            <!-- end card -->

                        </div>
                    </div>
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </div>
    <notifier-container></notifier-container>