<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="page-title-box d-sm-flex align-items-center justify-content-between p-0 m-0">
                <h4 class="mb-sm-0">New Invoice</h4>

                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Invoice</a></li>
                        <li class="breadcrumb-item active">New Invoice</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-xxl-9">
            <div class="card">
                <form class="needs-validation" novalidate id="invoice_form" #InvoiceForm="ngForm"
                    (ngSubmit)="submit(InvoiceForm)">
                    <div class="row">
                        <div class="col-md-12">
                            <app-invoicedata></app-invoicedata>
                        </div>
                        <!-- <div class="col-md-6">
                          
                        </div> -->
                    </div>
                    <div class="row">
                        <div class="col-lg-6 pl-5 pr-2">
                            <div class="outer-layout w-100">
                                <app-companyaddress></app-companyaddress>
                            </div>
                        </div>
                        <div class="col-lg-6 pr-5 pl-2">
                            <div class="outer-layout w-100">
                                <app-client-details></app-client-details>
                            </div>
                        </div>
                        <!-- <app-billingaddress></app-billingaddress> -->
                    </div>

                    <div class="card-body pl-5">
                        <app-productdetails></app-productdetails>
                        <app-paymentdetails></app-paymentdetails>
                        <!-- <div class="mt-4">
                            <label for="exampleFormControlTextarea1"
                                class="form-label text-muted text-uppercase fw-semibold">NOTES</label>
                            <textarea class="form-control alert alert-info" id="exampleFormControlTextarea1"
                                placeholder="Notes" rows="2"
                                required>All accounts are to be paid within 7 days from receipt of invoice. To be paid by cheque or credit card or direct payment online. If account is not paid within 7 days the credits details supplied as confirmation of work undertaken will be charged the agreed quoted fee noted above.</textarea>
                        </div> -->
                        <div class="hstack gap-2 justify-content-end d-print-none mt-4">
                            <button type="submit" class="btn btn-info save-cstn-btn"><i class="ri-printer-line align-bottom me-1"></i>
                                Save</button>
                            <a href="javascript:void(0);" class="btn btn-primary print-cstn-btn"><i
                                    class="ri-download-2-line align-bottom me-1"></i> Download Invoice</a>
                            <!-- <a href="javascript:void(0);" class="btn btn-danger"><i
                                    class="ri-send-plane-fill align-bottom me-1"></i> Send Invoice</a> -->
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<router-outlet></router-outlet>