<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="page-title-box d-sm-flex align-items-center justify-content-between p-0 m-0">
                <button type="button" routerLink="/invoice" class="btn btn-info save-cstn-btn"><i
                        class="fa-solid fa-house"></i>
                    Home</button>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-xxl-9">
            <div class="card">
                <form class="needs-validation" novalidate id="invoice_form" #InvoiceForm="ngForm"
                    (ngSubmit)="submit(InvoiceForm)">
                    <div class="row">
                        <div class="col-md-12">
                            <app-invoicedata></app-invoicedata>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 pl-5 pr-2">
                            <div class="outer-layout w-100">
                                <app-companyaddress></app-companyaddress>
                            </div>
                        </div>
                        <div class="col-lg-6 pr-5 pl-2">
                            <div class="outer-layout w-100">
                                <app-client-details></app-client-details>
                            </div>
                        </div>
                    </div>
                    <div class="card-body pl-5">
                        <app-productdetails></app-productdetails>
                        <app-paymentdetails></app-paymentdetails>
                        <div class="hstack gap-2 justify-content-end d-print-none mt-4">
                            <button type="submit" class="btn btn-info save-cstn-btn save-button"
                                [disabled]="InvoiceForm.invalid"><i class="ri-printer-line align-bottom me-1"></i>
                                Save</button>
                            <!-- <a class="btn btn-primary print-cstn-btn downloadInvoice" (click)="downloadInvoice()"><i
                                    class="ri-download-2-line align-bottom me-1" ></i>
                                Download Invoice</a> -->
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<router-outlet></router-outlet>
<notifier-container></notifier-container>