<div class="account-pages">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-11">
                <div class="auth-full-page-content d-flex min-vh-100 py-sm-5 py-4">
                    <div class="w-100">
                        <div class="d-flex flex-column h-100 py-0 py-xl-4">
                            <div class="card my-auto overflow-hidden">
                                    <div class="row g-0">
                                        <div class="col-lg-6">
                                            <div class="p-lg-5 p-4">
                                                <div class="text-center">
                                                    <h5 class="mb-0">Forgot Password?</h5>
                                                </div>
                                                <div class="text-center my-5">
                                                    <div class="alert alert-borderless alert-warning text-center mb-2 mx-2" role="alert">
                                                        Enter your email and instructions will be sent to you!
                                                    </div>
                                                </div>

                                                <div class="mt-4">
                                                    <form action="https://themesbrand.com/invoika/layouts/index.html" class="auth-input" #resetForm="ngForm" (ngSubmit)="submit(resetForm)">
                                                        <div class="mb-3">
                                                            <label for="email" class="form-label">Email</label>
                                                            <input type="text" class="form-control" id="email" name="email" #email="ngModel" ngModel type="email" placeholder="Enter email">
                                                        </div>
            
                                                        <div class="mt-2">
                                                            <button class="btn btn-primary w-100" type="submit" [disabled]="resetForm.invalid">Send Reset Link</button>
                                                        </div>
            
                                                        <div class="mt-4 text-center">
                                                            <div class="signin-other-title">
                                                                <h5 class="fs-15 mb-3 title">Sign in with</h5>
                                                            </div>
                            
                                                            <ul class="list-inline">
                                                                <li class="list-inline-item">
                                                                    <a href="javascript:void()" class="social-list-item bg-primary text-white border-primary">
                                                                        <i class="mdi mdi-facebook"></i>
                                                                    </a>
                                                                </li>
                                                                <li class="list-inline-item">
                                                                    <a href="javascript:void()" class="social-list-item bg-info text-white border-info">
                                                                        <i class="mdi mdi-twitter"></i>
                                                                    </a>
                                                                </li>
                                                                <li class="list-inline-item">
                                                                    <a href="javascript:void()" class="social-list-item bg-danger text-white border-danger">
                                                                        <i class="mdi mdi-google"></i>
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </div>
            
                                                        <div class="mt-4 text-center">
                                                            <p class="mb-0">Wait, I remember my password...  <a href="/login" class="fw-medium text-primary text-decoration-underline">  Click here  </a> </p>
                                                        </div>
                                                    </form>
                                                </div>
                            
                                            </div>
                                            </div>
                                        </div>
            
                                        
                                </div>
                            </div>
                         
                        </div>
                    </div>
                </div>
            </div>
           
        </div>
      
    </div>
   
