<div class="col-lg-4 col-sm-6" ngModelGroup="billing">


 <div class="col-sm-6 ms-auto"  ngModelGroup="address">
    <div>
        <label for="billingName" class="text-muted text-uppercase fw-semibold">Billing Address</label>
    </div>
    <div class="mb-2" >
        <input type="text" class="form-control bg-light border-0" id="billingName"
            placeholder="Full Name" name="fullName" ngModel required />
        <div class="invalid-feedback">
            Please enter a full name
        </div>
    </div>
    <div class="mb-2" >
        <textarea class="form-control bg-light border-0" id="billingAddress" rows="3"
            placeholder="Address" ngModel required name="address"></textarea>
        <div class="invalid-feedback">
            Please enter an address
        </div>
    </div>
    <div class="mb-2" >
        <input type="text" class="form-control bg-light border-0" data-plugin="cleave-phone"
            id="billingPhoneno" placeholder="(123)456-7890" ngModel name="phoneNo" required />
        <div class="invalid-feedback">
            Please enter a phone number
        </div>
    </div>
    <div class="mb-3" >
        <input type="text" class="form-control bg-light border-0" id="billingTaxno"
            placeholder="Tax Number" ngModel name="taxnumber" required />
        <div class="invalid-feedback">
            Please enter a tax number
        </div>
    </div>
    <div class="form-check">
        <input type="checkbox" class="form-check-input" id="same" name="same"
            onchange="billingFunction()" />
        <label class="form-check-label" for="same">
            Will your Billing and Shipping address be the same?
        </label>
    </div>
</div>
</div>
