button.btn.btn-primary.add-columns {
    width: 181px;
    margin: auto 73%;
    align-items: end;
}

input.form-control.column-name {
    width: 350px;
}

.type {
    width: 200px;
}

label.form-label.column-name {
    margin: 0px 25px 10px;
}

label.form-label.column-type {
    margin: 0px 25px 10px;
}

input.form-control.column-name {
    margin: 20px;
}

input.form-control.type {
    margin: 20px;
}

.disabled {
    pointer-events: none;
    opacity: 0.6;
}

select.form-control.type.form-control-sm.taxes-edit.selector-currency {
    margin-top: 24px;
}

.black-color {
    color: black;
}
label.form-label.column-type {
    margin: 0px 25px 10px;
    padding-left: 234px;
}