<button type="button" #openAddFields class="btn btn-primary d-none" data-bs-toggle="modal"
  data-bs-target="#addUpdate">Add</button>
<div class="modal" id="addUpdate" aria-labelledby="addUpdateLabel">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header modal-head pb-3">
        <button type="button" class="close" (click)="closeModal()">
          <i class="fa-sharp fa-regular fa-circle-xmark"></i>
        </button>

        <button type="button" #closeAddFields class="d-none btn-close" data-bs-dismiss="modal" aria-label="Close">
          <i class="fa-sharp fa-regular fa-circle-xmark"></i>
        </button>
      </div>

      <div class="modal-body">
        <div class="row">
          <h4>Edit columns</h4>
          <p>Add new fields or Edit name of fields in the invoice. Use this to add fields like units, hours,
            service/product specification etc. Also, private columns are not visible to clients and are not
            part of pdf.</p>
          <hr>

        </div>
        <div class="row">
          <button type="button" class="btn btn-primary add-columns" (click)="addcolumns()">Add New
            columns</button>
        </div>
        <label for="text" class="form-label column-name me-2">Column Name</label>
        <label for="column-type" class="form-label column-type">Column Type</label>



        <ng-container>

        </ng-container>
        <div class="row">
          <div class="example-list">
            <div class="drageable" *ngFor="let details of fields; let i = index;"
              [attr.draggable]="details.fieldName !== 'item' ? 'true' : null"
              (dragstart)="details.fieldName !== 'item' ? dragStart($event, i) : null"
              (dragover)="details.fieldName !== 'item' ? dragOver($event, i) : null"
              (drop)="details.fieldName !== 'item' ? drop($event, i) : null">
              <div class="row">

                <div class="col-md-6">
                  <div class="mb-3 d-flex align-items-center">
                    <i class="fa-solid fa-grip-vertical me-2 drageable"
                      *ngIf="details.fieldName != 'item' && details.fieldName != 'description'"
                      style="cursor: grab;"></i>

                    <input *ngIf="details.fieldName != 'description'" type="text" class="form-control column-name"
                      (change)="onItemChange(i, details)" [(ngModel)]="details.label"
                      [ngModelOptions]="{standalone: true}" placeholder={{details.label}}>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="mb-3 position-relative">
                    <select [(ngModel)]="details.type" [ngModelOptions]="{standalone: true}"
                      [disabled]="details.custom === false" *ngIf="details.fieldName != 'description'"
                      class="form-control type form-control-sm taxes-edit selector-currency"
                      (click)="onColumnChange($event)">
                      <option *ngFor="let fieldType of FieldTypes" [value]="fieldType">{{fieldType}}</option>
                    </select>
                    <div class="position-absolute top-50 end-0 translate-middle-y">
                      <a *ngIf="i !== 0 && details.fieldName != 'item' && details.fieldName != 'description'"
                        (click)="togglePassword(details)" class="eye-b me-2">
                        <i class="{{details.hidden ? 'fas fa-eye-slash' : 'fas fa-eye'}} black-color"
                          style="cursor: pointer"></i>
                      </a>

                      <i class="fa-solid fa-trash" *ngIf="details.delete !== false" (click)="deleteField(i)"
                        style="cursor: pointer;"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row highlight-row">
            <table class="invoice-table table table-borderless table-nowrap mb-0" style="padding: 20px;">
              <thead class="align-middle items-chart">
                <tr class="table-active">
                  <ng-container *ngFor="let details of fields">
                    <th scope="" class="width-40" *ngIf="!details.hidden">{{details.label}}</th>
                  </ng-container>
                </tr>
              </thead>
            </table>
          </div>
        </div>

        <div class="modal-footer pt-2 pb-0">
          <button type="button" class="btn btn-secondary" (click)="closeModal()">Close</button>
          <button type="button" class="btn btn-primary add-client" (click)="saveChanges()">Save
            changes</button>
        </div>
      </div>
    </div>