<div class="container">
    <div class="row summary-accordion">
        <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                        Invoice Summary
                    </button>
                </h2>
                <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                    data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <div class="invoice-container">
                            <div class="details">
                                <label>Invoice No</label>
                                A00016
                            </div>
                            <div class="details">
                                <label>Invoice Date</label>
                                Aug 11, 2023
                            </div>
                            <div class="details">
                                <label>Due Date</label>
                                Sep 07, 2023
                            </div>
                            <div class="details">
                                <label>Total Amount</label>
                                <span class="amount">₹1.10</span>
                            </div>
                            <div class="details">
                                <label>Payment Options</label>
                                Not Set
                            </div>
                            <div class="details">
                                <label>Billed To</label>
                                Namit Arora<br>
                                India
                            </div>
                            <div class="details">
                                <label>Share</label>
                                Not Sent
                            </div>
                            <div class="details">
                                <label>Created by</label>
                                Chetan Chauhan
                            </div>
                            <div class="details">
                                <label>Show in Invoice</label>
                                Chetan Invoice
                            </div>
                            <div class="details">
                                <label>Tags</label>
                                <button>Add Tags</button>
                            </div>
                            <div class="details">
                                <label>Private Custom Fields</label>
                                <button>Add Custom Fields</button>
                            </div>
                            <div class="details">
                                <button>Cancel</button>
                                <button>Save Changes</button>
                            </div>
                            <div class="details">
                                <label>Namit Arora Balance</label>
                                <span class="amount">$3.62 (Due)</span>
                            </div>
                            <div class="details">
                                <label>GST Returns</label>
                            </div>
                            <div class="details">
                                <label>Client Tax Type</label>
                                Consumer
                            </div>
                            <div class="details">
                                <label>Supply Type</label>
                                -
                            </div>
                            <div class="details">
                                <label>GSTR-1 Category</label>
                                -
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>